@{
    ViewBag.Title = "Seçim Öncesinde Verilerle Türkiye Ekonomisi – 1: Reel Ekonomi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Seçim Öncesinde Verilerle Türkiye Ekonomisi – 1: Reel Ekonomi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz16.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            7 Haziran genel seçimleri öncesinde ekonomiye yönelik vaatler en dikkat çeken alan. Hükümetin sık
            aralıklarla açıkladığı teşvik paketleriyle birlikte diğer partilerin vaatleri bu seçimin ana konusunu
            ekonominin belirleyeceğini gösteriyor. Yurtiçinde TL’nin dolar karşısında 2013 Mayıs ayında başlayan
            hızlı değer kaybı, bu sene başından beri daha da artış göstermekte ve Dolar/TL kuru her hafta yeni bir
            rekor kırmaktadır. Bu durum özellikle kur kaynaklı birçok kriz yaşamış olan ülkemizde her kesim
            tarafından yakından takip edilmektedir.
            2015 yılının ilk çeyreğine ilişkin verilerin bir kısmı açıklandı ve büyümenin nasıl olacağına yönelik bazı
            ipuçları vermekte. 2014 yılsonundaki görece iyi fakat büyüme potansiyelimizden uzak %2,9’luk büyüme
            rakamı önümüzde dururken, bu seneki büyümenin ne olacağı merak konusu. Birkaç bölüm halindeki
            çalışmamızda ilk olarak reel ekonomiye yönelik açıklanan son veriler analiz edilecektir. Gelecek
            haftalarda ise Dış sektör (dış ticaret, ödemeler dengesi, petrol fiyatları), mali sektör (merkezi yönetim
            borç stoku, bütçe), Piyasa, Fiyat Gelişmeleri ve TCMB Politikası (enflasyon, borsa, kur, para politikası)
            verileri incelenecektir. 
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
