@{
    ViewBag.Title = "Türkiye’de Yükseköğretimin Nicel Analizi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Türkiye’de Yükseköğretimin Nicel Analizi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz18.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Yükseköğretim, 1981'de çıkarılan 2547 sayılı
            Yükseköğretim Kanunu ile akademik, kurumsal ve
            idari yönden yeniden yapılanma sürecine girmiştir.
            Kanunla ülkemizdeki tüm yükseköğretim kurumları
            Yükseköğretim Kurulu (YÖK) çatısı altında toplanmış,
            akademiler üniversitelere, eğitim enstitüleri eğitim
            fakültelerine dönüştürülmüş ve konservatuvarlar ile
            meslek yüksekokulları üniversitelere bağlanmıştır.
            Türk yükseköğretim sistemi 1982 yılı itibarıyla yirmi
            yedi üniversite ile bunlara bağlı fakülte, enstitü, yüksekokul, konservatuvar ve
            yüksekokullarından oluşan birleşik bir yapıya dönüştürülmüştür.
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
