@{
    ViewBag.Title = "Anket Şirketleri 30 Mart Testini  Geçti mi ?";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Anket Şirketleri 30 Mart Testini  Geçti mi ?</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz6.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            AkadeSeçim anketleri seçmenlerin siyasi
tercihlerini belirlemek amacıyla
yazılı olarak hazırlanmış sorulardan
oluşur. Anket yönteminde
seçmenlerin siyasi tercihleri kişisel
görüşme, telefonla görüşme, posta
aracılığı veya e-mail yoluyla
sorulabilse de kişisel görüşme
güvenilirliği açısından en çok tercih
edilendir.
Türkiye’deki seçmen sayısının
yaklaşık 52 milyon1
 olduğu
düşünülürse seçim anketlerinin
bütün seçmenler üzerinde
uygulanması zaman ve maliyet
açısından mümkün değildir. Zaman
ve ekonomik kısıtlardan dolayı
anket şirketleri seçmenlerin siyasi
tercihleri hakkında bir karara
varırken seçmenlerin sadece bir
kısmını seçer ve anketi örneklem
adı verilen bu gruba uygulayarak
seçmenlerin tamamının siyasi
tercihlerini tahmin etmeye çalışır.
Özetlersek, seçim anketleri
seçmenlerin bir kısmını inceleyerek
seçmenlerin tamamının siyasi
tercihleri hakkında tahmin
yapmaktadır. Seçim anketlerinin
başarısı en belirgin olarak seçim
sonuçlarını tahmindeki başarısı ile
ölçülür.
Gelişmiş ülkelerde seçim
araştırmaları ve anketleri büyük bir
pazara sahipken ülkemizde özellikle Kasım 2002 seçimleriyle beraber bu pazar gelişmeye başlamış ve birçok araştırma
şirketinin bu pazara girmesiyle seçim anketlerinin sayısı artmıştır. Siyasi partilerin ekonomik
olanaklarının artması ve siyasi liderlerin bu anketlere önem vermesinin bunda payı büyüktür.
Sayın Başkanımız Recep Tayyip Erdoğan’ın mevcut belediye başkanlarının performanslarını
ölçmede ve aday belirlemede belirli periyodlarla farklı anket şirketlerine anket yaptırdığı ve bu
anket sonuçlarının kararlarındaki etkenlerden biri olduğu kamuoyu tarafından bilinmektedir.
Anketlere ne kadar güvenebiliriz? Anket şirketleri kendine ödeme yapanları mutlu edecek
sonuçlar mı çıkarıyorlar? Maliyetlerden kaçmak için masa başı anketimi yapıyorlar? Anketlerle
kamuoyu yönlendirilmeye mi çalışılıyor? Gibi birçok soru kamuoyunun kafasını meşgul
etmektedir. Kuşkusuz ki, anket şirketlerinin aynı seçim için farklı tahminlerde bulunmasının
bundaki payı inkâr edilemez.
Anket şirketlerinin de bir ticari işletme olduklarını düşünürsek aslında pazarda kalabilmeleri
işlerini ne kadar iyi yapabildiklerine diğer bir ifadeyle tahminlerinin isabet derecesine bağlıdır.
Yukarıdaki manipülasyonlara meyil eden ve dolayısıyla güvenilirliği sorgulanan anket
şirketlerinin piyasada uzun ömürlü kalması mümkün değildir.
Bu analizde 30 Mart 2014 yerel seçimlerini temel alarak seçim anketlerinin tahmin gücünü
analiz edeceğiz. Araştırmanın birinci bölümünde Türkiye geneli belediye anket sonuçlarını,
ikinci bölümünde İstanbul, Ankara ve İzmir büyükşehir belediyesi anket sonuçlarını ve son
olarak kalan 27 büyükşehir belediyesi anketlerinin sonuçlarını resmi sonuçlarla
karşılaştırılacaktır. Bu çalışmada anket şirketlerinin yapmış oldukları seçim anketi sonuçları
internetten yapılan tarama sonucunda ulusal gazetelerden elde edilmiş ve anket şirketlerinin en
son yayınladıkları anket sonuçları baz alınmıştır. 
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="col-md-12 row">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    </div>

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
