@{
    ViewBag.Title = "7 Haziran’dan 1 Kasım’a Seçim Beyannameleri: Metin Analizi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">7 Haziran’dan 1 Kasım’a Seçim Beyannameleri: Metin Analizi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz19.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Akademisyenler arasında yer alan problemlerden biri de ders yüklerinin dağılımı sorunudur. Bu durum üniversiteden üniversiteye veya bölümden bölüme farklılık gösteriyor olsa da gerek akademik camiada gerek de akademik camia dışından olanların genel kanaati ders ücretlerinin farklı olması nedeniyle Prof. veya Doç. unvanlı Hocaların birinci öğretim derslerini tercih etmediği yönündedir. Ayrıca zaman zaman birinci öğretim öğrencilerinin üniversiteye daha yüksek puanla girmiş olmasına rağmen derslerine giren Hocaların daha çok Yrd. Doç. Dr., Okutman veya Öğr. Gör. unvanlı olduğu iddiaları da gündeme gelmektedir.
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
