@{
    ViewBag.Title = "FAİZSİZ BANKACILIKTA YENİ DÖNEM";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">FAİZSİZ BANKACILIKTA YENİ DÖNEM</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz13.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Otuz yılı geride bırakmasına rağmen katılım bankacılığı
            Türkiye gibi potansiyelini en iyi kullanabileceği bir ülkede
            hak ettiği yerde değildir. Bu çok iyi olmayan performansta
            katılım bankalarının performansı yanında bankacılık
            sektöründe gördükleri üvey evlat muamelesinin de yeri
            vardır. 1985’te özel finans kurumları ile başlayan faizsiz
            bankacılık ancak yirmi yıl sonra 2005’te mevzuatına
            kavuşmuştur.
            Bu önemli gelişmenin ardından on yıl sonra Devletin katılım
            bankacılığı sektörüne girme iradesi ete kemiğe bürünmeye
            başlamıştır. Görünen o ki süren hazırlıklar son aşamaya
            gelmiştir. Bankacılık ve finans modern ekonomilerde
            olmazsa olmazlar arasındadır. Öte yandan bankacılık ve
            finansın reel sektörden kopması ve sanal bir ekonomi
            yaratması yine modern ekonomilerde en büyük
            sorunlardan biridir. Zenginliğin haksız transferinin ve gelir
            ve servet dağılımında adaletsizliğin doğmasına yol açan bu finans mekanizmasına karşı İslam temelli
            faizsiz finans bir çözüm olabilir. Tüm eksikliklerine rağmen katılım bankacılığı Türkiye’de alternatif
            ekonomi ve finans arayışını retorikten kurtarmaya adaydır ve bir ümit ışığı sunmaktadır. İşte kamunun
            sektöre güçlü bir şekilde gireceği yıl olarak 2015 yılı, faizsiz bankacılığa misyon biçenler için heyecan 
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
