@{
    ViewBag.Title = "Yolsuzluk Endeksleri Çerçevesinde Türkiye’nin Durumu";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Yolsuzluk Endeksleri Çerçevesinde Türkiye’nin Durumu</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz5.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Türk Dil Kurumu tarafından, kelime anlamı olarak bir
            görevi, bir yetkiyi kötüye kullanma  şeklinde
            tanımlanmakta olup  İngilizce karşılığı ''corruption'',
            Almanca karşılığı ise “korroptus” kelimeleri olan
            yolsuzluk Latince’de kırmak, yıkmak, ihlal etmek
            anlamına gelen “corrumpere” kelimesinden türetilmiştir
            (Gedikli, 2011:170). Literatürde kabul gören yolsuzluk
            tanımı Dünya Bankası tarafından “kamu gücünün ve
            kaynaklarının kişisel menfaatler ve amaçlar
            doğrultusunda kötü niyetli olarak kullanılması” şeklinde yapılmıştır (World Bank, 1997:7).  
            Yolsuzluk kavramı her ne kadar farklı şekillerde tanımlanmış olsa da yolsuzluğun boyutlarını tam olarak
            saptamak çok güçtür. Yasal olarak suç oluşturan yolsuzluğun kesin olarak ölçülmesi mümkün olmadığı
            gibi ülkeler için yolsuzluk derecelerine göre sınıflandırma yapmak da oldukça zordur. Buna rağmen
            uluslararası kuruluşlar tarafından farklı yöntemlerle yolsuzluk algısı ölçümü yapılmaktadır. Bunlardan
            bazıları:
             Uluslararası Şeffaflık Örgütü Yolsuzluk Algılama Endeksi
             Uluslararası Şeffaflık Örgütü Rüşvet Verme Endeksi
             Uluslararası Şeffaflık Örgütü Küresel Yolsuzluk Barometresi
             Uluslararası Risk Danışmanlığı Yolsuzluk Endeksi
             Opasite Endeksi
             Global Rekabet Endeksi
             Uluslararası İş Şirketi Yolsuzluk Endeksi
            Çoklu neden‐ çoklu gösterge (MIMIC) Model Yöntemi, yolsuzluğun gözlenemeyen bir değişken olmasına
            rağmen gözlenebilen değişkenlerde bıraktığı izlerden faydalanarak onu ölçmeye yarayan bir yöntemdir
            ve literatürde bu yöntemi kullanarak yolsuzluğu ölçen çalışmalar mevcuttur. Bu çalışmada, ulaşılabilen
            veriler kısıtı altında, Yolsuzluk Endeksleri bağlamında Türkiye’nin durumu analiz edilecektir.  
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
