@{
    ViewBag.Title = "TÜRKİYE’DE KAMU BORCUNUN GELİŞİMİ: 2000 SONRASI DÖNEM ANALİZİ";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">TÜRKİYE’DE KAMU BORCUNUN GELİŞİMİ: 2000 SONRASI DÖNEM ANALİZİ</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz7.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Kavram olarak borç, “geri verilmek üzere alınan veya ödenmesi gerekli para veya
            başka bir şey” anlamına gelmektedir (TDK, 2014). Burada en önemli unsur, alınan paranın
            veya başka bir şeyin geri ödenme zorunluluğudur. Devlet borçlanması ise, kamu tüzel
            kişilerinin ve fertlerin gerçek gelirlerinden fonların alındığı zaman bir azalma oluşturmayan,
            kamu hizmetlerinin finansmanında kullanılan ve verilmesi genellikle gönüllü değişim
            temeline dayanan bir finansman aracı (Batırel, 1990: 183) olarak ifade edilebileceği gibi,
            ileride toplanacak vergilerin belirli bir ıskonto oranı üzerinden bugünkü değerine indirgenip
            satılması olarak da ifade edilebilir (Ulusoy, 2001: 14). Devlet borçlanması yerine, “Kamu
            Kredisi”, “Hükümet Borcu”, “Devlet Kredisi”, “Kamu Gideri”, “Ulusal Borç”, “Devlet
            İstikrazı”, “Kamu İstikrazı”, “Amme Gideri”, “Kamu Masrafı”, vb. kavramlar da
            kullanılabilir.
            Türkiye açısından uzun yıllardan beri bir tehdit unsuru
            olarak görülen borçlanma sorununun kökeni, Osmanlı
            İmparatorluğu’nun son dönemine kadar uzanmaktadır.
            Özellikle alınan dış borçların geri ödenmesinde yaşanan
            darboğazlar, Cumhuriyetin ilk yıllarında Türkiye’nin ağır
            borç bunalımı yaşamasına neden olmuştur. Günümüze kadar
            devam eden borçlanma süreci borçlanmanın kaynağı, vadesi,
            alacaklısı, faiz maliyeti, vb. kriterler açısından belli
            dönemlerde önemli değişikliklere uğramıştır. Bu değişikliklerin borçlanmanın iktisadi, mali
            ve sosyal etkilerinde farklılıklara neden olduğu söylenebilir. Şöyle ki, borçlanmanın
            çoğunlukla dış kaynaklardan ziyade iç kaynaklardan yapılması, borçlanmada vadenin uzaması
            ve faiz maliyetinin azalması gibi değişiklikler borçlanmanın etkilerini farklılaştırabilir.
            3
            Borçlanmanın ekonomik, mali ve sosyal etkileri olmakla birlikte, ülke ekonomisinde
            yaşanan ekonomik ve mali gelişmeler de borçlanmayı etkileyebilir. Bu gelişmeler arasında;
            ekonomik krizler, uluslararası gerginlikler, siyasi istikrarsızlıklar, doğal afetler, enflasyonist,
            deflasyonist ve teknolojik gelişmeler gösterilebilir. Türkiye’de de söz konusu gelişmeler bazı
            dönemlerde yaşanmıştır. Diğer taraftan, sadece olumsuz olarak kabul edilen gelişmeler değil,
            istikrarlı ekonomik büyüme ve siyasi istikrar gibi gelişmeler de borçlanma gerçekleşmelerini
            etkileyebilir. Bu çalışmada 2000 yılı sonrasında Türkiye’nin kamu borcundaki gelişmelerin
            değerlendirmesi yapılacaktır.

        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="col-md-12 row">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    </div>

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
