@{
    ViewBag.Title = "Uluslararası Endeksler Işığında Türkiye";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Uluslararası Endeksler Işığında Türkiye</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz22.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Bu çalışmada Uluslararası Kuruluşlar tarafından yayınlanan seçilmiş endeksler ışığında Türkiye’nin durumu değerlendirilmiştir. Endeksler TÜİK’ten (İstatistik Göstergeler – Uluslararası Endeksler) elde edilmiştir. TÜİK tarafından Uluslararası Endeksler başlığı altında 33 endeks bulunmakta olup bu çalışmada bunlardan 23’ü ele alınmıştır. Endekslerin her biri ekonomik, sosyal ve politik açıdan incelenmeye değer, ayrı ayrı çalışma konusu olabilecek derinliktedir. Bu çalışmanın hazırlanma amacı ise söz konusu endeksler ile Türkiye’ye ait verileri bütüncül olarak sunmaktır. Değerlendirilen endekslerin birçoğu düzenli olarak yayınlanmamaktadır. Ayrıca çalışmada ele alınan endeksler farklı ülke gruplarını kapsadığı ve düzenli olarak da yayınlanmadığı için ulaşılabilen veriler sadece Türkiye açısından derlenmiştir.
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!--
    <ul class="blog-grid-tags">
        <li><a href="#">Eğitim</a></li>
        <li><a href="#">Ekonomi</a></li>
        <li><a href="#">Toplum</a></li>
    </ul>
    <!-- End Blog Grid Tagds -->
</div>
