@{
    ViewBag.Title = "Seçim Öncesinde Verilerle Türkiye Ekonomisi – 2: Dış Sektör";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Seçim Öncesinde Verilerle Türkiye Ekonomisi – 2: Dış Sektör</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz17.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Geçen haftaki çalışmamızda son açıklanan reel ekonomiye ilişkin göstergeleri incelemiştik. Bu hafta
            ülkemiz ekonomisi açısından en önemli alanlardan biri olan dış sektör verileri analiz edilecek. Son yıllarda
            iç talebin zayıflaması ile birlikte GSYH büyümesinde dış ticaretin yaptığı pozitif katkıyı görmekteyiz.
            Büyümenin kompoziyonundaki yükselen payı ile dış ticaret yılın ilk çeyrek ekonomik performansı ile ilgili
            bilgi vermektedir. Ayrıca, en yumuşak karnımızdan biri olan cari açık verileri de analiz edilecektir.


        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
