@{
    ViewBag.Title = "Siyasetin Dönüşen Dinamiklerinin Bir Değerlendirmesi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Siyasetin Dönüşen Dinamiklerinin Bir Değerlendirmesi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz15.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Son on yılda yaşanan siyasal ve sosyal değişimleri
            anlamak için neoliberal kapitalizmin değişim
            dinamikleri iyi kavramak gerekmektedir. Karatani,
            kapitalizmin üç temel saç ayağı üzerine oturduğunu
            iddia eder; devlet, piyasa ve toplum. Bu temel
            ayaklardan birinde sorun oluştuğunda yükler diğer
            ayaklara aktarılarak kapitalist krizler atlatılmaktadır.
            Kapitalizmin ilk ciddi krizi olan 1929 ekonomik
            buhranı piyasanın buhranıdır. Keynesyen ekonomik
            politikalar, yani tam istihdamı amaçlayan devletçi
            politikalar kurtarıcı olmuştu. Devlet, toplumsal buhranı
            piyasanın yüklerini yüklenerek atlatmıştı. Yetmişli
            yıllarda taşıyabileceğinden fazla yüklenen refah
            devletini bu kez piyasa ve toplum kurtarmak zorunda kalmıştır. Piyasanın devletin yüklerini
            omuzlamasına seksenli yıllar Türkiye’sinde özelleştirme adını verdik. Toplumun bazı yükleri
            yüklenmesine ise 19. Yüzyılda başka bir bağlamda kullanılan sivil toplumculuk dedik. Zira
            devlet artık toplumsal sosyal harcamaları bile karşılayamaz hale gelmişti. Bu nedenle toplumun
            kendi kendine yardım dinamikleri harekete geçirilmiştir. Türk siyasal hayatı bu bağlamı
            vakıflaşma olarak yaşadı.

        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="col-md-12 row">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    </div>

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
