@{
    ViewBag.Title = "Akademik Teşvik Ödeneği Taslağı (Beklentiler ve Hedefler Karşılanıyor mu?)";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Akademik Teşvik Ödeneği Taslağı (Beklentiler ve Hedefler Karşılanıyor mu?)</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz14.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            14 Kasım 2014 tarihli Resmi Gazete’de yayınlanan 6564
            Sayılı Yükseköğretim Personel Kanununda Değişiklik
            Yapılmasına Dair Kanun gereğince 1
            ; "akademik teşvik
            ödeneği" adı altında, öğretim elemanlarının proje,
            araştırma, yayın, tasarım, sergi, patent, bildiri, atıf ve
            ödül olmak üzere dokuz farklı akademik faaliyet türünü
            "teşvik" etme amacıyla düzenleme yapılmıştır. Söz
            konusu yasa maddesine ilişkin usul ve esasların
            belirlenmesi ise Bakanlar Kurulu tarafından çıkarılacak
            bir yönetmelik kapsamında gerçekleştirilecektir. Bu
            çerçevede konuyla ilgili görüş oluşturmak amacıyla YÖK,
            web sayfasındaki "askıya çıkardık" başlığı altında
            oluşturulan taslak yönetmeliğe katkı amacıyla farklı
            görüş ve önerileri toplamak istediğini belirtmiştir.
            Taslak yönetmelik hakkındaki tespit ve önerilerimizi
            sunmadan "akademik teşvik ödeneği"nin gerekçesini iki ana başlık altında açıklayabiliriz.
            Birincisi, Türkiye’nin girmiş olduğu iddialı kalkınma hedeflerine (2023, 2053, 2071) ulaşmanın
            yolunun üniversitelerin bilim üretmesinden geçmektedir. Üniversitelerin seviyeleri bir ülkenin
            bulunduğu medeniyet ve kalkınmışlık seviyesinin en önemli göstergesidir. Dünya çapında bilim
            üretemeyen ülkelerin, dünyanın önde gelen ve kalkınmış ülkeler arasına girme şansı
            bulunmamaktadır. Bahsedilen seviyelerde üniversitelerin oluşturulmasının en önemli yolu
            nitelikli akademisyenlerden geçmektedir. Bunun içinde nitelikli beyinlerin akademiye çekmeye ve
            akademideki nitelikli beyinleri burada tutmak gerekmektedir
            Akademisyenlerin hem başlangıç hem sonrası için maaş düşüklüğü akademisyenliği cazip bir
            meslek olmaktan çıkarmaktadır. 2002 den bu yana ortalama memur maaşının reel olarak %52
            seviyesinde artmasına karşın, profesör maaşının %4 azalması, doçent maaşının %11 yardımcı
            Doçent maaşını %17 seviyelerinde artmış bir mağduriyete yol açmıştır. Bu noktada, "akademik
            teşvik ödeneği" akademik personelin gelirlerinde geçmişe ilişkin kayıpların telafi edici etki
            yapması beklenirken aynı zamanda akademisyenliği ekonomik açıdan da cazip yapmayı
            hedeflemektedir.
            İkincisi, "akademik teşvik ödeneği" üniversitelerde üretken akademisyenleri ekonomik olarak
            ödüllendirmeyi ve teşvik etmeyi amaçlamaktadır.
            YÖK tarafından askıya çıkarılan "akademik teşvik ödeneği" çerçeve yönetmeliği incelendiğinde
            yukarıdaki hedeflere ulaşma da yetersiz olduğu görülmektedir.         </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
