@{
    ViewBag.Title = "Yaşam Memnuniyeti Araştırması ";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Yaşam Memnuniyeti Araştırması </h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz8.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Yaşam Memnuniyeti Araştırmasının (YMA) amacı
            TÜİK tarafından “Bireyin genel mutluluk algısını,
            toplumsal değerlerini, temel yaşam alanlarındaki
            genel memnuniyetini ve bu alanlardaki kamu
            hizmetlerinden memnuniyetini ölçmek ve bu
            memnuniyet düzeyinin zaman içindeki değişimini
            takip etmek” şeklinde ifade edilmektedir.
            Araştırma, Türkiye Cumhuriyeti sınırları içinde
            bulunan hanelerde yaşayan 18 ve daha yukarı yaştaki
            Türkiye Cumhuriyeti vatandaşları ile yabancı
            uyruklu kişileri kapsamakta olup araştırmada,
            kurumsal nüfus (üniversite öğrenci yurdu, huzurevi,
            bakımevi, ceza ve tutukevi, ıslahevi, yetiştirme
            yurdu, askeri birlik ve kışla vb.) kapsam dışında
            tutulmaktadır.
            İlk kez 2003’te Hanehalkı Bütçe Anketi’ne bir modül olarak eklenen ve uygulanan araştırma
            2004 sonrası yıllarda bağımsız olarak uygulanmaktadır. Araştırma ilk defa 2013 yılında, il
            düzeyinde tahmin verebilecek şekilde tasarlanmıştır.
            2013 yılında araştırmanın örneklem büyüklüğü, İstatistiki Bölge Birimleri Sınıflaması (İBBS)
            Düzey 3 (81 il) bazında tahmin üretecek şekilde hesaplanmıştır. Demografik bilgiler tüm
            hanehalkı bireylerinden alınmakta iken yaşam memnuniyetine ilişkin sorular hanehalkında
            bulunan 18 ve daha yukarı yaştaki bireylere sorulmaktadır.

        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
