@{
    ViewBag.Title = "Kredi Derecelendirme";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Kredi Derecelendirme</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz11.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Derecelendirme kavramının literatüre giriş tarihi 1837 yılına dayanmakla birlikte özellikle 1980’li
            yıllarda liberalleşme kavramıyla dünyada ve ülkemizde sıkça duyulur hale gelmiştir. Derecelendirme, bir
            kuruluşun veya bir bireyin finansal yükümlülüklerini zamanında yerine getirip getiremeyeceğini tahmin
            etmek üzere kullanılan, firmanın veya bireyin geçmiş ve bugünkü nitel ve nicel verilerine dayanarak
            yapılan bir sınıflandırma sistemidir (Yazıcı, 2009: 2). Başka bir ifadeyle; derecelendirme, bir firmaya
            veya bireye kredi tahsis ederken, taşıdığınız riskin matematiksel olarak ifadesidir (Tutar ve diğ., 2011: 2).
            Derecelendirme firmalar, işletmeler, bankalar, finans kuruluşları, yerel yönetimler, fon talep ve arz
            edenler için yapılabileceği gibi ülkeler için de yapılabilir. Ülke riski olarak nitelendirdiğimiz bu durum;
            ülkenin ödeme zorluğuna düştüğünü beyan etmesi veya belirli ülkelerin almış olduğu borçları şimdi ve
            gelecekte ödeyememesi nedeniyle ortaya çıkar. Ülke riskinin yüksek olması, ülkenin borç almasını
            zorlaştıracağı gibi borç alma maliyetini yani aldığı borç için ödediği faizin artmasına da neden olur.
            Bununda birlikte ülke riskinin yüksek olduğu ülkelerden yatırımcılar kaçınmaktadır. O halde
            derecelendirme, uluslararası alandaki kredi verme ilişkilerinde, kredi açılan ülkelerde meydana
            gelebilecek önemli olaylar neticesinde kayba uğrama olasılığı şeklinde de tanımlanmıştır (Tutar ve
            diğ.,2011: 2).
            Günümüzde derecelendirme kuruluşlarının sayısının fazla olması, finansal piyasalarda yatırım öncesi
            derecelendirme faaliyetini adeta zorunlu hale getirmiştir. 1980’li yıllarda liberalleşme kavramıyla ülkeler
            arasında artan sermaye hareketleri ve finansal piyasalarda artan finansal çeşitlilikle birlikte
            derecelendirme kuruluşlarının sayısı ve önemi gittikçe artmıştır. 1990’lı yıllarda sermaye akımlarının çok
            uluslu kuruluşların sağladığı resmi fonlar yerine, özel sermaye hareketlerine dönüşmesi, kredi
            derecelendirme kuruluşlarının küresel ve yerel finans piyasalarındaki önemini artırmıştır (Gür ve Öztürk,
            2011: 71). Bu nedenlerden dolayı kredi derecelendirme kuruluşlarından yatırımcılara geleceğe yönelik
            yol gösterici bir rol üstlenmeleri beklenmektedir (Karagöl ve Mıhçıokur, 2012: 8).
            Ancak son yıllarda yaşanan 2008 küresel finans krizinde Lehman Brothers’ın beklenmedik iflası, 2008
            krizi öncesinde 2001 yılında yaşanan Enron olayı, 2002 yılında Worldcom ve 2003 yılında Parmolat olayı
            kredi derecelendirme kuruluşlarının güvenirliliğinin sorgulanmasına neden olmuştur. 2008 yılı içinde
            yüksek kredi notuna sahip firmaların kredi derecelerini ani bir şekilde düşürülmesi ile küresel krizin
            derinleşmesindeki önemli bir etken olarak görülmüştür (Karagöl ve Mıhçıokur, 2012: 9).        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="col-md-12 row">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    </div>

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
