@{
    ViewBag.Title = "Seçim Dönemlerinde İMKB ve Getiri Analizi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Seçim Dönemlerinde İMKB ve Getiri Analizi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz1.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            İMKB faaliyete geçtiğinden günümüze kadar Türkiye 1991,
            1995, 1999, 2002 ve son olarak 2007 olmak üzere beş  adet
            genel seçim yaşamıştır. Kriz ve seçim dönemleri belirsizliğin
            (riskin) ve fiyat hareketlerinin arttığı dönemlerdir. Özellikle
            küçük yatırımcılar bu dönemlerde tedirgin olmakta, temel
            analizler yerine rasyonel olmayan sürü psikolojisi ile hareket
            etmekte ya da piyasadan uzak durmaktadırlar. Yatırımcılar
            insandır ve insan davranışlarının özellikle belirsizlik altında
            rasyonel olmaması kabul edilebilir.  
            Aslında, her seçim dönemi yatırımcılar açısından yeni bir fırsat
            olabilir. Yatırımcıların belirsizlik dönemlerinde ki en büyük
            eksiklikleri, kendilerine uygun uzun vadeli bir yatırım stratejisi
            belirlemeyerek panik içinde karar vermeleridir. Yatırımcı için
            en iyi strateji, kendi kriterlerine göre ucuz olan hisse
            senetlerini satıp alıp daha önceden belirlediği hedef fiyatında
            satmasıdır. Birçok yatırımcı en dipte satın almaya çalışırken
            veya en zirvede satmaya çalışırken fırsatı kaçırır.   
            İMKB’nin endeks ve  şirketler bazında getirilerini açıklamaya
            yönelik birçok çalışma mevcutken, seçim dönemlerinde  İMKB
            ve sektörel bazda getirileri açıklayan çalışma sayısı sınırlıdır. Bu
            çalışma bu boşluğu doldurarak, özellikle gelecekteki seçim dönemlerinde yatırımcılara alacakları pozisyonlar
            konusunda uzun vadeli önerilerde bulunmaktır. Her yedi yılda bir finansal krizin ve her dört yılda bir genel seçimin
            yaşandığı Türkiye’de bunun bir ihtiyaç olduğu kaçınılmazdır. Araştırma sonuçları, seçimlerin hisse senetleri
            üzerindeki etkisi üzerine bir fikir verse de, AK Parti kapatma davası, 27 Nisan bildirisi, AB katılım ortaklık belgesinin
            kabulü ve 1 Mart tezkeresi gibi birçok siyasi ve uluslararası etkenlerden dolayı bu sonuçlar her seçim döneminde
            geçerli olmayabilir. Felsefenin babası olarak kabul edilen Thales’in (M.Ö. 624–546) dediği gibi “Hayatta en kolay
            şey başkasına nasihat vermektir”
        </p><br>
    </div>
    <hr class="hr-xs" />
    

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
