@{
    ViewBag.Title = "2014 Programı Sağlıkta Dönüşüm’ün Beklenen Sonunu mu İlan Ediyor ?";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">2014 Programı Sağlıkta Dönüşüm’ün Beklenen Sonunu mu İlan Ediyor ?</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/analiz/analiz3.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Türkiye’nin son 10 yıl da kaydettiği ilerlemenin en
            göze çarpan yanı büyük altyapı projeleri olsa da esas
            atılım sağlık alanında gerçekleşmiştir. Ak Parti
            iktidarının girdiği her seçimden oyunu arttırarak
            çıkması, sağlıkta başardığı dönüşümün seçmen
            nezdinde takdir gördüğünün en açık kanıtıdır. Duble
            yollar, hızlı trenler, Marmaray, 3. Köprü, 3.
            Havaalanı, Avrasya tüp geçiş  projeleri tüm
            vatandaşlara gurur ve umut verirken, esas itibariyle
            belli bölgelerde yaşayanlara hizmet verdiği için
            fayda etkisi nispeten sınırlı olmaktadır. Hâlbuki
            sağlık öyle değildir. Sağlık daha ana rahmine düştüğü
            andan itibaren kişilik kazanan her vatandaşın
            ölümüne dek her zaman hep daha iyisine ulaşmayı
            arzu ettiği bir hizmettir. Sağlık hizmetinin kamusal
            mal özelliği tartışmalıdır. En fazla yarı kamusal
            sayılabilecek bir hizmet olan sağlık, aslında erdemli
            bir mal olmasına rağmen, devlet bu hizmetin
            sunulmasında önemli bir rol üstlenmektedir
            (Savaşan, 2013: 262). Hizmet talepleri ve bilinç
            eşikleri farklı olsa da kentten kırsala her mekânda
            asgari standartlarda sunulması, devletler için
            bulunduğumuz yüzyılda bir lütuf değil zorunluluktur.  
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="col-md-12 row">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    </div>

    <!-- Blog Grid Tagds -->
    <!-- End Blog Grid Tagds -->
</div>
