@{
    ViewBag.Title = "Güneydoğu'da Son Durum: İslami STK'lar Çalıştayı İzlenimleri";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Güneydoğu'da Son Durum: İslami STK'lar Çalıştayı İzlenimler</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus43.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            2016’nın ilk gününde PESA Cuma Konuşmaları’nın konusu Güneydoğu Sorunu; konuğu ise Eğitimbir-Sen Sakarya Üniversitesi Şubesi Başkanı Yrd.Doç.Dr. Yaşar KAHRAMAN idi. Kürt Meselesi’nin ulusal, bölgesel ve uluslararası boyutlarını ortaya koyduğu konuşmasında Kahraman aynı zamanda “Kürt Sorunu ve İslam(cılar) Çalıştayı” izlenimlerini de katılımcılarla paylaştı.
        </p><br>
    </div>
    <hr class="hr-xs" />
    
</div>
