@{
    ViewBag.Title = "Başkanlık Sistemi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Başkanlık Sistemi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus39.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Başkanlık sistemine geçiş talebinin gerekçeleri; iki başlılığı ortadan kaldırmak, başkan aracılığıyla hükümeti doğrudan seçmek, tek parti hükümeti nedeniyle güçlü ve istikrarlı hükümet olarak sıralanır. Kurumsal değişimin sihirli değnek olmadığı siyaset biliminin muhkem kaziyelerindendir. Kurumsal yapıları ve kurallar sabahtan akşama değiştirmek mümkün olsa da bu kurumları ve kuralları işletecek bireylerin/toplumun zihniyeti, alışkanlıkları ve siyasal kültürü sabahtan akşama değişmez; vakit ister. Başkanlık sistemine geçilmesi durumunda bu sistemden beklenen faydaların, öyle olduğunu varsaysak bile, kısa sürede mümkün olmayabileceğini dikkate almayı gerektirir. Hele, başkanlık sistemi ekonomiyi uçuşa geçirecek gibi, kurumsal yapıdan bağımsız olmasa da daha başka birçok faktöre bağlı olan iktisadi gelişmeyi büyük oranda başkanlık sisteminin tabii sonucu imiş gibi sunmak tartışmada artık ölçünün kaçtığının işaretidir.
        </p><p>
                Başkanlık sisteminin muhaliflerinin yönelttiği eleştiriler daha sağlam bir zemine sahip değil. Başkanlık sisteminin, liderlik kültüne sahip bir toplumda padişahlıkla/diktatörlükle sonuçlanacağı iddiası neredeyse bir asırlık demokrasi tecrübemizi göz ardı ettiği gibi toplumun bu süreçte demokrasiyi ciddi düzeyde içselleştirdiğini gösteren literatürü de dikkate almaz. Hem Özal hem de Erdoğan parlamenter sistemde ortaya çıkmış oldukça güçlü liderlerdir. Güçlü lider zorunlu olarak otoriter/anti-demokratik lider olmayıp tam tersine yerleşik imtiyazların, bürokratik ve askeri vesayetin ülkeyi teslim aldığı zor şartlardan kurtarmanın belki de en önemli unsurudur. Hem Özal hem de Erdoğan demokratikleşme, özgürlük ve kalkınma sürecinde bu nedenle kritiktir. Diğer bir ifadeyle 80 sonrası demokratikleşme ve kalkınma süreçlerinin “Özal Faktörü” ve “Erdoğan Faktörü” ile açıklanması bu sürecin çoğunu açıklar.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_baskanlik.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>