@{
    ViewBag.Title = "Doların Fendi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Doların Fendi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus34.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Siyaseti yendi. Türkiye’de faiz ekseninde devam eden tartışmada temelde aynı şeyi arzu
            etmelerine rağmen hükümetle cumhurbaşkanı arasındaki yaklaşım/tarz farkını
            vurgulamak için siyaset yerine “Cumhurbaşkanını yendi” demek belki daha uygun olur.
            Siyaset risk alma sanatıdır. Görünen o ki seçime doğru yol alan Türkiye’de bir iktidar
            değişikliği arzu edenler, resmi muhalefette dâhil, ümidini “bu kış, olmazsa bahar
            ekonomik kriz çıkacak” olmasına bağlamıştır. 13 yıla yaklaşan iktidar döneminde siyaset
            dışı kalkışmalara defalarca karşı karşıya gelmiş bir kadronun başta Cumhurbaşkanı
            olmak üzere her türlü meseleyi bir de bu boyutuyla ele aldığı görülmektedir. Bu tespiti
            yapmakla beraber Türkiye ekonomisine kısa bir bakışın farklı bir tavrın gerekliliğine
            işaret ettiğini söyleyebiliriz.
            TEŞHİS ÖNEMLİ
            Birkaç madde ile ekonomik görünümü özetleyelim.
            1. Türkiye’nin büyüme oranları çok yüksek değil. Yüksek ama sürdürülemez
            büyüme oranlarının peşinde değil Türkiye. 2012’de uygulanan “yumuşak iniş”
            politikasından beri sağlıklı büyüme arayışını devam ettiriyor. Krizden çıkış
            ümitlerini sürekli erteleyen Dünyada Türkiye, çok düşük sayılmayacak bir
            büyüme rakamına sahip. Fakat ihtiyacı olan büyüme şüphesiz ki bu değil.
            2. İşsizlikte sıkıntılı bir döneme girildi. Genel işsizlikte çift haneler söz konusu.
            3. Türkiye enflasyonla mücadelede bu yıl bir hayli ümitli idi. Şimdilerde ise bu
            ümidi muhafaza etmekle beraber revize ediyor. Özlenen ve sürdürülebilir bir
            düşük enflasyon hayalini erteleyecek gibi.
            4. Türkiye enerjide dışa bağımlıdır. Dahası üretim için gerekli makine-teçhizatı ve
            ara malları ithal etmek zorunda. İhracat için ithalat yapmak durumunda ve
            ikincisi her zaman çok daha yüksek. Dolara karşı TL’nin değer kaybetmesi ihracat
            açısından olumlu ama ihracatın ağırlığı (%45 civarında) Avrupa’ya ve TL Euro
            karşısında değer kazanıyor. Bir de Rusya dâhil bölge ülkelerinin sıkıntılı
            durumları eklenince Türkiye’nin ihracatı bir türlü isteneni veremiyor. Bölge
            ülkelerinden birkaçına olan ihracat artsa da diğer ülkelerdeki azalışlar telafi
            edilemiyor.
            5. Türkiye’de ekonominin dış finansmana bağlı olması ve bu yüzden de
            kırılganlığının devam etmesinin ana nedenlerinden biri tasarrufların düşük
            olmasıdır. Gelirimizin azını tasarruf ediyoruz ve bolca tüketmek istiyoruz. Kısaca
            hem üretmek hem de tüketmek için yabancıların tasarruflarını kullanmak
            zorundayız. Bir diğer ifadeyle Türkiye yabancı (sıcak veya doğrudan) sermaye
            çekmek ve/veya borçlanmak suretiyle çarkı döndürüyor.
            6. ABD’nin krizden çıkıp çıkmadığı ve Fed’in temkinli politikaları tartışmasında
            artık sona yaklaşıldı. İstihdamda iyileşme ve büyümede toparlanma iyice
            belirginleşti. Enflasyondaki kıpırdanma da toparlanmanın sağlandığına işaret
            ediyor. Böyle olunca Fed’in daraltıcı para politikasına geçmesine ramak kaldı.
            Bahar sonu olmasa da yaz aylarında beklenen olacak ve Fed faizleri artıracak.
            Piyasalar bunu satın alıyor ve Fed’in faizleri artıracağının belirginleşmesi doların
            başta Euro olmak üzere diğer para birimlerine karşı değer kazanmasını
            hızlandırdı. TL bir yıllık dönem esas alındığında dolara karşı yüzde 20 civarında
            değer kaybetti; euraya karşı ise yaklaşık yüzde 6 değer kazandı (Daha kısa dönem
            ele alındığında ise Euro TL’ye karşı kaybını telafi ediyor).
            TÜRKİYE DURUMUN FARKINDA MI?
            Evet farkında. Türkiye araya giren küresel ekonomik krize rağmen kişi başına geliri 10
            bin doların üzerine taşıdı. Bu noktaya gelmek bir başarı olmakla beraber Türkiye için
            zorun başlangıcı idi. Bir diğer ifadeyle Türkiye’nin buraya gelme potansiyeli zaten vardı.
            Uygun konjonktür, siyasi istikrar ve iyi yönetim sayesinde bu başarıldı. 2023 hedeflerine
            ulaşmak için ise gerekli olan şey yeni potansiyel oluşturmaktı. Türkiye bu ihtiyacı tespit
            etti. Adımlar atılıyor. Ne var ki hem engeller var hem de atılan taşların yerini bulması
            zaman alacak. Birkaç madde ile de atılan önemli adımları sıralayalım.
            1. Bütçe dengelerinin bozulmamasına gösterilen özen devam ediyor.
            2. Cari açık sorununu kontrol altına almaya yönelik adımlar atıldı. Yüzde 5’e
            düşmedi ama en azından mesafe alındı.
            3. Başkalarının tasarruflarını tüketerek günü kurtarmanın yanlışlığı ortada
            olduğundan tasarrufu artırmak için önlemler alındı, alınıyor.
            4. Daha akıllı teşvik sistemine geçildi. Jenerik ve dönemsel teşviklerden bölgesel
            üstünlükleri dikkate alan sürekli teşvik sistemine geçildi.
            5. Komşularla sıfır sorun politikası bölgesel enerjiyi açığa çıkarmıştı. Sürebilseydi
            müthiş sonuçları olacaktı. Olmadı, ama en azından içeride sükûnet sağlandı.
            Türkiye’nin etnik temelde çatışmalarla enerji kaybetmesine son vermek üzere
            harekete geçildiğinden bu tarafa kırılgan da olsa bir çatışmasızlık dönemine
            geçildi. Alınan mesafe hayallerin üzerinde ve herkes sağlanan kazanımların
            tadına vardı. Korkularıyla yaşaması dayatılan Türkiye onlarla yüzleşti ve yolun
            çıkmaz sokak olmadığını anladı.
            6. Türkiye Ar-Ge’yi öğrenmeye çalışıyor. Nüfusunu dinamik ve eğitimli yapmaya
            çalışıyor.
            7. Açıklanan eylem planlarının her biri bir derde deva olma potansiyelini taşıyor.
            Yukarıda dediğimiz gibi işin kolay kısmı başarıldı, zorlu bir yol var Türkiye’nin önünde.
            Eğer karamsar olmak için zorlamazsak iyimser olmak için çok nedenimiz var.
            SEÇİME KADAR NE YAPMALI?
            Madem sorunlar var ve karşı tedbirler alındı, o zaman seçime giden Türkiye’nin ihtiyacı
            ne? İhtiyaç vatandaşların ‘90’ların psikolojisine dönmesini engellemektir. Döviz
            büfelerinin veya bankaların döviz işlemleri ile ilgili bankolarının önüne yığmamak.
            Tüketmekten veya yatırıma yönelmekten ürkütmemek. Sarı madende kalalım mı, yoksa
            çıkalım mı diye düşündürmemek. Aksi durumda yeniden tüm ülke simsarlar ülkesi olur.
            Bütün ülkenin borsada al-sat yapanlara benzemesi cinnet hali ile eşdeğerdir.
            3
            Birkaç soru ve birkaç kısa cevapla iktifa edelim.
            Faizler düşse iyi olmaz mı? Elbette iyi olur. Düşmesi gerektiği dönemlerde Merkez
            Bankasının temkinli duruşu yüzünden düşmedi ve bu seçim öncesi hükümetin sinirlerini
            gerdi. Ama kabul edelim ki gelinen noktada faizin düşmesi artık mümkün değil.
            Faiz lobisi ve tüm bu olanlarda katkısı var mı? Faiz lobisinin olup olmadığı tartışması en
            saçma tartışmalardan biridir. Hem içeride hem dışarıda yüksek faiz geliri elde edenler
            olduğuna göre faiz lobisi de vardır ve yüksek kazanç elde etmek isterler.
            Onlara pabuç mu bırakalım? Bırakmayalım. Ama bilelim ki tüm lobiciler etkilemek
            istedikleri taraf güçlendikçe zayıflarlar. Türkiye hedeflerini belirledi ise kararlı
            yürüyüşünü sürdürmeli. Bilmeli ki 800 milyar dolarlık bir ekonomiyi iki katına
            çıkaramadığı sürece bu türden denemelerle her zaman karşılaşacak.
            Seçim biraz da gerilim demektir. Ancak ülkeyi bir büyük borsaya dönüştürmek sonuç
            alacak türden bir gerilim değildir. Cumhurbaşkanı da hükümetin yaptığı gibi yapmalı ve
            tedirgin etmeyecek, müjdeleyecek söyleme dönmelidir. Varsın doların fendine şimdilik
            yenilmiş görünsün.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_dolarin_fendi_savasan.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>