@{
    ViewBag.Title = "Müsait Kelimesi Üzerine";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Müsait Kelimesi Üzerine</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus36.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Haftada değil, günde bir kaç kez gündemin değişebildiği canım memleketim Türkiye’min
            geçen hafta tartışılan konularından biri, bir gazetede çıkan TDK’nın Büyük Sözlük’ünde
            ‘müsait’ kelimesinin açıklamasında kadınların aşağılandığına dair haber idi. Konu sosyal
            medyaya düştü ve tartışma hızla büyüdü, hatta meclis kürsüsünde milletvekilleri tarafından da
            dile getirildi.
            Tartışmanın nedeni olan müsait kelimesinin TDK Büyük Sözlük’ünde yer alan ikinci anlamı
            şöyle:
            Flört etmeye hazır olan, kolayca flört edebilen (kadın).
            Burada tartışılan konu parantez içinde yer alan kadın kelimesi üzerinde odaklaştı. Neden
            erkek değil de kadın? Erkekler kolayca flört etmeye hazır değil mi? Sadece kadınlar mı flört
            ederler? Bu ve buna benzer sorular özellikle feminist dernek temsilcileri tarafından yüksek
            sesle söylendi ve cinsiyetçi bir ifade tarzı olarak algılanan bu ifadenin sözlükten kaldırılması
            istendi.
            TDK bu ithamlar üzerine bir açıklama yapmak zorunda kaldı. Yapılan açıklamada sözlükte
            yer alan tüm maddelerin yeninden okunmasına ve düzenlenmesine karar verildiği,
            sözlükçülerin görevinin kelimelerin anlamlarını günlük hayattan aldıklarını söyledikten sonra
            kelimenin Türkçede kullanımının tarihçesi verildi. İlk olarak Ömer Seyfettin’in Nakarat
            isimli bir makalesinde kullanıldığının tespit edildiği ifade edildikten sonra kelimenin 32
            yıldan beri sözlüklerde mevcut olduğu belirtildi. Daha sonra müsait kelimesinin aynı
            anlamda yer aldığı sözlükler sıralandı.
            Karacan Büyük Sözlük ve Genel Kültür Ansiklopedisi, Milliyet Büyük Larousse Sözlük ve
            Ansiklopedi, Dil Derneği’nin, Türkçe Sözlük’ü, Ali Püsküllüoğlu’nun, Arkadaş Türkçe
            Sözlük’ü de kelimeyi aynı anlamda kullanan diğer sözlükler. Kelimenin argo olduğu, bugün
            bu anlamın herkes tarafından bilinmediği, bir devirde moda olabileceği, dolayısıyla yeniden
            düzenleneceği, yani kaldırılacağı söylenerek tartışmalar bitirilmeye çalışılmış, ortalık
            sakinleştirilmiş.
            TDK’nın açıklamasında yer alan sözlüklerden başka sözlüklerde de kelimeye baktım. Yaşar
            Çağbayır’ın hazırladığı son derece kıymetli bir sözlük olan Orhun Yazıtlarından Günümüze
            Türkiye Türkçesinin Söz Varlığı Ötüken Türkçe Sözlük’te (İstanbul: Ötüken Yayınları 2007)
            kelime şu şekilde açıklanır.
            Müsait, -di [Ar. müsâ’ade>müsâ’id (müsa:it) {OsT} sf. 1. Yardım eden; yardımcı olan. 2. Bir
            şeyin yapılmasını veya olmasını mümkün kılan; elverişli; uygun. 3. Anlayışlı; kafa dengi. 4.
            (Kadın için) flört etmeye yatkın olan; arkadaşlık için kolaylık gösteren.
            Mertol Tulum’un editörlüğünü yaptığı Kamus-ı Türki’nin genişletilmiş baskısında (Tulum,
            M. (Edt.)(1985). Temel Türkçe Sözlük Sadeleştirilmiş ve Genişletilmiş Kâmûs-ı Türkî (2.cilt).
        </p>
        <p>
            İstanbul: Tercüman Gazetesi/Yapı-Kredi Bankası.) kelimenin anlamına aslında olmayan bir
            anlamı ilave edilmiş ve şu şekilde verilmiş:
            MÜSÂİT (müsâ’id) s. Ar. 1. Yardım eden, yardımda bulunan Meclis âzâsından biri bana
            müsâit bulundu (yardım etti). 2. Müsâde eden, bir işi mümkün kılan, yapılabilir hâle koyan,
            elverişli: İktidâr-ı mâliyyesi (mâlî gücü) araba kullanmasına müsâit değildir. Sıhhatim müsâit
            ola idi ava çıkacaktım. * 3. Flört etmeğe eğimli olan (kız). //nâ- , gayr-ı müsait: Bir işi
            imkansız ve güç duruma sokan, zorlaştıran; “elverişsiz.”: Bu arâzi güzel bir bahçe yapmağa
            na-müsâit, gayr-ı müsâittir.
            Pars Tuğlacı’nın sözlüğünde ise (Tuğlacı, P. (1995). Okyanus Ansiklopedik Türkçe Sözlük
            (Cilt 4 M-R). İstanbul: ABC Kitabevi Yayın & Dağıtım A. Ş.) kelime aynı anlamı bu defa
            kadın-erkek ayırımı yapmadan verilmiş.
            Müsait, s. Osm. < Ar. su’ûd > müsâ’ade > müsâ’id. 1. Bir şeyi mümkün kılan, kolaylaştıran,
            elverişli, uygun. [ing. Favorable, convenient; Fr. Favorable, convenant, -ante]; 2. (Geniş anl.)
            Anlayışlı, kafa dengi; 3. tkz. Flörte eğilimi olan. 4. esk. Yardım eden.
            Dil Derneği Türkçe Sözlük’te (Ankara: Ertem Basım Yayın Ltd. Şti. 2005) kadın yine yer
            alıyor.
            müsait öna. Ar. 1. Uygun, elverişli: Müsait bir gün geleceğim. 2. tkz. Flört etmeye hazır olan,
            kolayca flört edebilen (kadın).
            Ali Püsküllüoğlu sözlüğünün 7. baskısında (Ankara: Arkadaş Yayınevi, 1999) kelimeyi
            güncellemiş ve tartışmalara neden olan anlamı sözlüğünden çıkarmış.
            Mehmet Doğan (Doğan Büyük Türkçe Sözlük (Türkçe/Osmanlıca/Yabancı dillerden Türkçeye
            Geçen ve En Çok Kullanılan Kelimeler. İstanbul: Pınar Yayınları, 2005) ise diğerlerinden
            farklı olarak kelimeye genel olarak anlaşılacak şekilde meyilli anlamını vermiş, ama neye
            meyilli olduğunu belirtmemiş.
            Konu kadınlar üzerinden tartışıldığı için önüme büyük sözlüklerden birini aldım ve
            açıklamasında kadınlara has olduğu ifade edilen olumsuz anlamı olan başka kelime var mı,
            diye bakayım dedim. Kısa bir araştırmadan sonra karşıma çıkan bazı kelimeler ve
            açıklamaları:
            acūze : Kocakarı, huysuz, suratsız yaşlı kadın.
            âlufte : İffetsiz (kadın), âşifte,
            âşufte : Baştan çıkmış, hafifmeşrep, ahlâksız kadın.
            Baldır bacak: (Kadınlar için) Bacakları meydanda, açık saçık.
            Bitli kokuş: Kirli, pis, pasaklı (kız veya kadın).
            boynuzlanmak. (Karısı veya yakını olan bir kadın tarafından) Başka bir erkekle aldatılmak.
            Cadaloz: Şirret, hırçın [Daha çok kadınlar için kullanılır]
            Yollu :Hafif, ahlâkı sağlam olmayan, kolayca elde edilebilen kadın.
            Örnekleri çoğaltmak mümkün, böyle daha yüzlerce kelime var. Peki bütün bu kelimeleri de
            aynı şekilde düzeltecek miyiz?
            Kanaatim bu tür tartışmaların insanlarda günlük konuşmalarında cinsiyet ayırımı konusunda
            daha dikkatli olmalarını sağlaması bakımından faydalı olduğudur. Sözlüklere müdahale
            bahsine gelince; sözlükçüler kelimelerin anlamlarını değiştirmek hakkına sahip değillerdir,
            sadece var olan anlamlarını tespit etmeye ve açıklamaya çalışırlar. Günlük dilde kelimenin
            öyle bir anlamı varsa o şekilde yazmak zorundalar. O zaman soruyu şöyle soralım: Türkçeyi
            3
            kullananlar arasında müsait kelimesini o anlamda kullananlar var mı? Bu soruya vereceğiniz
            cevaba göre sözlükte olup olmamasına karar verebiliriz.
            Kelimelerin temel anlamı, yan anlamı, mecaz anlamı, kinayeli anlamı, galat anlamı ve argo
            anlamı olmak üzere bağlamına göre bir çok anlamı olur. Ayrıca kullanıldığı yöreye, üzerinde
            konuşulan konuya, konuşan kişiye, cinsiyete ve Türkiye örneğinde millete göre farklı
            anlamları da olur. Sıradan bir kelime erkekler arasında kullanıldığında farklı, kadınlar
            arasında kullanıldığında da farklı anlamlara gelebilir. Argo sözlükleri bunun örnekleri ile
            dolu. Dolayısıyla kelimelerin anlamlarını değerlendirirken bağlamı da göz önünde
            bulundurmamız gerekiyor.
            Son söz: Kelimeleri özgür bırakalım. Bırakalım istedikleri anlama gelsinler. Beğenmezsek
            kullanmayız vesselam.
        </p>
        <br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_musait_kelimesi_uzerine_gulec.pdf" target="_blank">PDF Olarak İndir</a>
        <hr class="hr-md" />
    </div>
</div>