@{
    ViewBag.Title = "Kalkınma ve Ahlak";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Kalkınma ve Ahlak</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus40.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Geleneksel toplum toplumsal müeyyidelerin, yüz yüze ilişkilerin ve geleneklerin ayakta tuttuğu toplumdur. Kişi mensubu olduğu aile/sülale, meslek grubu, mahalle vs. ile tanınır ve ait olduğu birim tarafından ciddi biçimde kontrol edilir. Bağımsız birey olarak değil bir grubun mensubu olarak içselleştirdiği toplumsal/mesleki/ailevi normlar kişiyi belirli bir çizgide yaşamaya sevk eder. Modern bakış açısından özgürlüğün kısıtlanması – mahalle baskısı – olarak görülen bu durum, toplumsal düzen ve istikrar açısından ise ideal olmasa da yeterli bir zemin sağlar. Sonuç toplumun bir düzeyde, bireyin özgürlüğü aleyhine olsa da, güven ortamı elde etmesidir.
        </p><p>
                Geleneksel toplumları bekleyen kaçınılmaz sonuç modernleşmedir. “Büyük tahrip edici” olarak adlandırılan modernleşme süreci hem maddi ilerleme hem özgürlük vaadiyle geleneksel bağları, grupları ortadan kaldırır. Modernleşme ortadan kaldırılan toplumsal müeyyide, gelenek, grup aidiyetleri ve mahalle baskısı yerine ise yazılı kuralları, etkin ceza sistemini ve nihai hedef olarak kural ahlakını ve medenileşmeyi koyar. Aydınlanmanın maddi ilerleme kültürel ilerlemeye, kültürel ilerleme de ahlaki ilerlemeye yol açacak beklentisi günümüzde çok eleştirilse de her yıl yapılan istatistiki çalışmalarla ülkelerin yaşanabilirlik kriteri açısından sıralanması Aydınlanmacı hedefin hepten boş olmadığını da ortaya koyar. Bazı ülkeler daha nezih ve medeni olduğu gibi kural ahlakını içselleştirmiş ve bu durumun dışındaki hallerde de caydırıcı cezalarla toplum yaşanabilirliğini korumaktadır. 
        </p><p>
                Halen modernleşme süreci devam eden Türkiye’nin yukarıda aktarılan perspektiften resmi çirkin ve alarm vericidir. Maddi ilerlemenin bir düzeyde gerçekleştirildiği ve bu açıdan geleceğe daha da iyimser bakıldığı bir ortamda hızla çözülen toplum, ne kural ahlakı ne de medenilik yönünde ümit vermiyor. Okul basan aileler; çocuklarını evde terbiye etmedikleri gibi okulda da terbiye adına bir şey öğretilmesini istemiyor. Birkaç lira için yolcuları ezen toplu taşıma araçları ve bunları seyreden bir ceza sistemi. Türkiye yaşanabilir bir ülke olmaktan hızla çıkıyor. İlber Hoca’nın tabiriyle “hiçbirimizin günlük hayatı pek tatlı cereyan etmiyor.”
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_kalkinma_ve_ahlak_kilinc.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>