@{
    ViewBag.Title = "Taksim Kâbe'ye Benzetilir Mi?";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Taksim Kâbe'ye Benzetilir Mi?</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-8 img-responsive" src="~/Content/TempImages/gorus/gorus38.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Birkaç gün önce gazetelerde bir siyasi liderin 1 Mayıs kutlamaları için verdiği demeçte yaptığı
            bir benzetme siyasiler arasında tartışma konusu olmuştu. Tartışmaya konu olan sözleri şöyle:
            Müslümanlar Kabe'ye giderler hacı olmak için, Museviler Kudüs'e giderler. Dini inançların
            merkezleri mabetleri vardır. Onun dışında hiçbir yerde onu yapamazsanız. Dini bir inanç
            açısından söylemiyorum ama işçi açısından da Taksim olmazsa olmaz bir yerdir. Burada
            anma yapılamazsa o yıl Türkiye'de 1 Mayıs kutlanmamış sayılır. 1 Mayıs şehitleri anılmamış
            sayılır.
            Solcu bir haber sitesinden alıntıladığım bu sözler üzerine tartışma başladı, anlaşılan bir
            müddet daha devam edecek.
            
        </p><p>
                Kâbe-Taksim benzetme meselesine geçmeden önce benzetmenin ne olduğunu kısaca
                hatırlatmak isterim. Teşbih de dediğimiz benzetme aralarında bir veya birden fazla nitelikte
                benzerlik bulunan iki şeyin birini diğerine benzetmek şeklinde tarif edilir. Bir benzetmede
                dört unsur bulunur. Bunlar, benzeyen, benzetilen, benzetme yönü ve benzetme edatıdır.
                Yukarıda verilen demece baktığımızda Kâbe’nin doğrudan Taksim’e benzetilip
                benzetilmediğini anlamak için bu dört unsuru arayalım.
                Benzeyen: Taksim
                Benzetilen: Kâbe, Kudüs gibi dini merkezler.
                Benzetme yönü: Kutsallık, bayramı kutlamak için senede bir kez gitmek zorunda kalınan
                mekân, verilen değer, bir ritüeli yerine getirmek için yapılan eylem. Senede bir defa olması
                da benzetilen yönler arasında sayılır.
                Benzetme edatı: Lafzen zikredilmemiş. Kıyastan anlaşılıyor.
                Bu açıdan baktığımızda Taksim ile Kâbe arasında kutsallık, senede bir defa olması, değer
                verenlerin gözünde tek olması yönleriyle bir benzetme olduğu söylenebilir. Benzetme var
                diyenler haklı.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_taksim_kabe_.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>