@{
    ViewBag.Title = "Türkiye’deki Suriyelilerden Türkiyeli Suriyelilere...";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Türkiye’deki Suriyelilerden Türkiyeli Suriyelilere...</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus35.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            15 Mart 2011’in üzerinden dört yıl geçti. Suriye nüfusunun yaklaşık beşte biri mülteci
            olarak komşu ülkelerde yaşıyor. Mültecilerin yarısı da Türkiye’de. Suriye’de durumun bir
            şekilde “normale” döneceği kesin. “Uluslararası Camia” (!) Ortadoğu ve İslam Dünyasına
            yönelik zikzaklarıyla maruf ve ABD Başkan Yardımcısı Kerry’den gelen açıklamalara
            bakılırsa Suriye konusunda hesaplarını hala tam olarak netleştiremediler ama “Esed’siz
            olmaz” oyalamacasına sarılacaklar. Kısacası çözümün hem de arzu edilen çözümün yakın
            zamanda gerçekleşme ihtimali gittikçe zayıflıyor. Hal böyle olunca Ensar rolünü üstlenen
            ülkeler politikalarını iki eksen üzerine revize etmek zorunda. İlki ve acil olanı mültecilerin
            yoksulluğunu azaltmaya ve toplumsal entegrasyonunu temin etmeye yönelik politikalar;
            diğeri ise Suriyelileri Türkiye’de uzun süreli kalmaya ve savaş sonrası Suriye’ye
            hazırlamak.
            TÜRKİYE’DEKİ SURİYELİLER
            Resmi rakamlara göre bir milyon 600 bin olsa da toplamda en az iki milyon Suriyeli
            Türkiye’de mülteci konumundadır. Suriyeli nüfusun 250 bini kamplarda geri kalanlar
            şehirlerde yaşıyor. Eğitim çağında olan Suriyelilerin sayısı bile yarım milyon. Suriyelileri
            ilk karşılayan illerin nüfusu yaklaşık 10 milyon ve bu bölgede yaşayan Suriyelilerin sayısı
            1 milyon 200 bin. Bir diğer ifadeyle, bölgenin nüfusunun onda birinden fazlası Suriyeli ve
            mutlaka bazı yerleşim yerlerinde bu oran çok daha yüksek.
            Mültecilerin yiyecek, barınma, sağlık ve eğitim ihtiyacını karşılamak için Türkiye hatırı
            sayılır bir çaba içerisindedir. TESEV ve ORSAM tarafından yayınlanan rapora göre,
            kamplardan beş yüz bin hasta sevk edilmiştir. Ameliyat edilen hasta sayısı 200 bini
            aşmıştır. 35 bin doğum gerçekleşmiştir. Türkiye beş milyar dolara yakın para harcamış;
            BM ve Avrupa’dan gelen yardımlar ise 250 milyon doları aşamamıştır.
            İki milyon insanın yer değiştirmesinin ekonomik, kültürel ve sosyal sonuçları olur.
            Suriyeliler ise iç savaş nedeniyle ülkelerini terk etmek zorunda kalmışlardır ve kitleler
            halinde kısa sayılabilecek bir zaman diliminde Türkiye’ye gelmişlerdir. Böyle bir göçün
            büyük sorunlara yol açması beklenir. Dilencilik ve ufak asayişsizliklerle sınırlı kalan
            sorunlar iki halk arasındaki bağların güçlülüğüne ve “Muhacir” ve “Ensar” olma
            çabalarının kaviliğine işaret etmektedir. İHH gibi Türkiye ölçeğindeki yardım
            kuruluşlarının dışında yerel yönetimlerin ve yerel yardım kuruluşlarının da devreye
            girmesi ile tüm toplumun seferberlik başlattığı görülmektedir.
            Görünür sorunlar büyük olmamakla beraber etnik ve mezhepsel kutuplaşma riski, çok
            eşlilikte yaygınlaşmanın yol açtığı ailevi sorunlar, çarpık yapılaşmada artış ve çocuk

            işçiler dikkat edilmesi gereken ve uzun vadede sosyal ve siyasal sonuçları olabilecek risk
            alanları olarak akılda tutulmalı ve sorun haline gelmemeleri için tedbirler alınmalıdır.
            Yoğun göç dalgasının yol açabileceği sosyal ve insani yırtılmayı başarıyla absorbe
            edebilen Türkiye etkisi orta vadede görülebilecek sorunları da tespit etmeyi ve çözmeyi
            becerebilecektir.
            Ekonomik, kültürel ve sosyal entegrasyonunu sağlamada gösterilen başarı Türkiye’deki
            Suriyelilerin, Türkiyeli Suriyelilere dönüşmesi anlamına gelecektir. Suriye’de kriz bir
            şekilde çözüldükten sonra işte bu Türkiyeli Suriyeliler iki toplum arasında bir köprü
            olacaklardır.
        </p>
        <p>
            TÜRKİYELİ SURİYELİLER
            Türkiye’de toplum misafirlerine karşı ideal bir ev sahipliği yapmak için seferber olmuştur.
            Ama şimdi misafirlerin aslında kalıcı oldukları ortaya çıkmıştır. Bu yüzden misafir
            söylemi değişmelidir. Toplum bu değişimi kaldıracak tarihi ve ruhi derinliğe sahiptir.
            Başbakan medeniyet tasavvuru olan entelektüel bir kişiliktir. Konuşmalarında insan ile
            mekân ve mekân ile mana arasında kurduğu ilişki kendini Suriyeli mültecilerde
            göstermelidir. Cumhurbaşkanının hassasiyeti de zaten açıkça ortadadır ve daha fazlasını
            yapmaya hazır olduğu izahtan varestedir.
            Toplumun Suriyeliler gerçeği konusunda aydınlatılması gerekmektedir. Elbette harcanan
            paralar Türkiye için çok küçük paralar değildir. Ancak Suriyelileri bir maliyet kalemi
            olarak görmek bardağın boş tarafını görmektir. Yukarıda bahsettiğimiz raporun
            bulgularını da dikkate alarak ekonomi bakımından bardağın dolu tarafına bakalım:
             Suriyeliler arasında çocuk ve gençlerin oranı yüksektir ve Türkiye’de doğan
            Suriyelilerin sayısı da kriz devam ettikçe artacaktır. Nüfusa bakışında
            paradigmatik bir değişiklik yaparak dinamik nüfusu yük değil zenginlik olarak
            görmeye başlayan Türkiye bu genç Suriyelileri topluma her bakımdan entegre
            etmeye özen göstermelidir. Doğal olarak Türkçeyi öğrenecek bu genç nüfus ileride
            iki ülke arasında köprü olacaklardır.
             Zor şartlarda ülkelerini terk eden Suriyeliler Türkiye’ye birikimlerini
            getirmişlerdir. Elbette bu birikim onları çok uzun süre taşımayacaktır. Ancak
            miktarı belli olmasa da gelen bu sermayenin de dikkate alınması gerekmektedir.
             Suriyelilerin kaçak çalıştırılması bir insani sorundur. Öte yandan işçiliğin maliyet
            kalemi olarak düşmesi ve yerli nüfusun çalışmadığı alanlarda çalışmaları bazı
            işkollarında rahatlama oluşturmaktadır. Bazı işkollarında işgücü açığının
            kapatılması ekonomik bir kazanımdır.
             Suriyelilerin tamamının dilenci veya vasıfsız işgücü sanılması yanlıştır. Elbette
            dilencilik bir sosyal yaradır ve vasıfsız işgücü Türkiye’de zaten zor durumda olan
            vasıfsız işgücünün hareket alanını daha da daraltmaktadır. Ancak vasıflı ve
            donanımlı Suriyelilerin orta ve uzun vadede Türkiye’ye kazandıracakları da hesap
            edilmelidir. Mersin, Gaziantep ve İstanbul gibi illerde faaliyet gösteren çok sayıda
            Suriyeli firma mevcuttur. Sadece Gaziantep Ticaret Odasına kayıtlı Suriyeli firma
            sayısı iki yüzün üzerindedir.
             Ortadoğu pazarlarına ve bazı sektörlere hâkimiyet konusunda Türklerden daha iyi
            olan Suriyeli işadamları ticaret ve yatırım ilişkilerinde avantajları ile beraber
            Türkiye’dedirler.
            3
             Büyük toplumlar krizden strateji geliştirebilen toplumlardır. Türkiye’deki
            Suriyelileri, Türkiyeli Suriyelilere dönüştürebildiğimiz oranda önce Suriyeli
            mültecilerle birlikte ekonomik olarak Türkiye kazanacak ardından orta ve uzun
            vadede Suriye ve Türkiye bir tür ortak pazar haline gelecektir.
            Savaş sonrası Suriye’yi birçok sorun beklemektedir. Silahlı grupların dağıtılması ve
            informal güvenlik yapılanmalarının sonlandırılması, suç networklarının
            etkisizleştirilmesi, iç savaşın katmerleştirdiği etnik ve mezhepsel kırılmaların tamir
            edilmesi, başta ekonomik alan olmak üzere güç merkezlerini ellerinde toplayan rejim
            kalıntıları ile mücadele edilmesi, ekonominin yeniden inşa edilmesi gerekmektedir. Bu
            sorunların tamamının çözülmesinde beşeri sermaye ana unsurdur. Türkiye’deki genç
            Suriyeliler, savaş sonrasında Türkiyeli Suriyeliler olarak bu sorunların çözümünde rol
            alacaklardır.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_multeci_ekonomisi_savasan.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>