@{
    ViewBag.Title = "Asgarisi Devletten, İnsanisi İşverenden, Azamisi Piyasadan";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Asgarisi Devletten, İnsanisi İşverenden, Azamisi Piyasadan</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus41.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Âdemoğlunun dramı büyük... Cennetin yalancısını Dünyada kurma hayalinin peşinde giderken çözümün kitlesel üretim ve tüketimden geçtiği sonucuna ulaşmış; bunu da Sanayi Devrimi ile birlikte başarma yoluna girmişken bizatihi kendisi de üretim faktörü haline gelmiştir. Geçimlik ekonomi (üretim ve tüketim) döneminde onuru ile ve çevresi ile daha “insan” kalabilen âdemoğlu kitlesel ekonomi ile çevresine daha çok hükmederken kendi dramını hazırladığını nereden bilsin! Bir tarafta tüketemeyen türü diğer tarafta ise gittikçe daha çok tüketmesine rağmen mutluluğu ters orantılı olarak azalan türü ile âdemoğlu sahici mutluluğu iyice ıskalar olmuştur.
        </p><p>Bu dramın yoksula ve vasıfsız emeğe taalluk edenine asgari ücret/li diyoruz. Karın tokluğuna bile çalışamama durumunun sadece modern dönemlere has bir şey olduğunu düşünmek yanlış olur. Ancak daha önce hiç bu kadar yaygınlaşmadığı da bir gerçektir. Üretimin çok hızlı artmasına rağmen bölüşümün adaletsizliği artıracak şekilde işlemesi, israf eden azınlık ile insaf bekleyen çoğunluk ikilemi ile karşı karşıya bıraktı bizi.
        </p><p>Seçim gününe doğru yol alan Türkiye’de insaf bekleyen çoğunluğun umuduna yönelik hamleler de arttı. Asgari ücretle ilgili tartışmalar yapılırken hep insaf bekleyen çoğunlukla gözlemlerim ve ekonomik teorinin bize söyledikleri arasında sıkışır kalırım. Şimdilerde bu işin sadece ekonomik değil sosyal yanının da olduğundan hareketle başlıktaki formulasyonu kurguladım.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_gorus_asgarisi_devletten_savasan.pdf" target="_blank">PDF Olarak İndir</a>
        <div></div>    
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-dnt="true">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div><script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <hr class="hr-md" />
    </div>
</div>