@{
    ViewBag.Title = "Sosyal Adaletin Sağlanmasında İslami Yol ve Zekatın Abartılan Rolü";
}
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '482791505242293',
            xfbml: true,
            version: 'v2.5'
        });
    };

   (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=482791505242293";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Sosyal Adaletin Sağlanmasında İslami Yol ve Zekatın Abartılan Rolü</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus44.jpg" alt="">
    </div>




    <!-- End Blog Grid -->
    <div class="row"></div>


    <table>
        <tr>
            <th>
                <a class="btn-u btn-u-xs rounded btn-u-sea" href="~/temppdf/gorus44.docx" target="_blank">Word Olarak İndir</a>
                &nbsp;
            </th>
            <th>
                <a class="btn-u btn-u-xs rounded btn-u-sea" href="~/temppdf/gorus44.pdf" target="_blank">PDF Olarak İndir</a>
                &nbsp;
            </th>
            <th>
                <div class="fb-share-button" data-href="window.location.href" data-layout="button"></div>
                &nbsp;
            </th>
            <th>

                <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-hashtags="pesar">Tweet</a>
            </th>

        </tr>
    </table>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Başlıktaki ifadeden zekâtın yoksulluğu azaltıcı ve gelir dağılımını düzeltici rolünün önemsenmediği sonucu çıkarılmamalıdır. Vurgu adil gelir dağılımında asıl mekanizmanın faiz yasağı olmasına rağmen tartışmalarda yeterli yeri bulamamasınadır. Tartışmalarda zekâta daha çok yer verilmesinin anlaşılabilir bir nedeni vardır. O da faizin uygulamada yasal olması ve hakim iktisadi paradigma tarafından vaz geçilmesi mümkün olmayan bir “pay” olarak görülmesidir. Ancak İslam Ekonomisine ilişkin bilimsel tartışmalarda faiz yasağının sosyal adaleti sağlamadaki önemine vurgu yapılması gerekir.
        </p>
        <p>
            Zekât geliri dağıtmada değil geliri yeniden dağıtmada rol alan bir mekanizmadır. Bir diğer ifadeyle zekât, gelirden yeterince pay alamamış kesimlerin rahatlatılmasında çok önemli bir rol oynar. Fakat İslam gelir daha oluşurken/ üretim gerçekleşirken adil paylaşımı kurgulayan mekanizmalar önermektedir. Bu mekanizmaların merkezinde ise <a href="http://pesar.org/Temp/gorus41">adil/insani</a> ücret ve faiz yasağı gelmektedir.
        </p>
        <p>
            Bilindiği gibi birinci gelir dağılımı, devletin ekonomiye vergi ve kamu harcamaları ile müdahale etmediği sadece asgari ücret gibi düzenlemelerde bulunduğu durumda, piyasa işleyişinin ortaya çıkardığı dağılımı ifade eder. Refah Devleti anlayışının gelişmesiyle birlikte kapitalizm geliri yeniden dağıtıcı ve dezavantajlı grupların hayatını kolaylaştırıcı devlet müdahalelerine daha çok kapı aralamıştır. İşte devletin vergi ve kamu harcamaları ile geliri yeniden dağıtması sonucu ortaya çıkan dağılım ikincil gelir dağılımıdır.
        </p>
        <p>
            Zekât ise İslam’ın dezavantajlı grupların hayatını rahatlatmak için önerdiği gelirin yeniden dağıtılmasında kullanılan bir araçtır. Vergilemede ve sosyal transferlerde devletin karşı karşıya olduğu asimetrik bilgi sorununun Müslüman için zorunlu bir ödev olan zekâtta ortaya çıkmaması veya oldukça hafif olması şüphesiz ki onun geliri yeniden dağıtıcı mekanizmalar arasında açık bir üstünlüğüdür. Fakat İslam gelir dağılımında asıl rolü
        </p>
        <p>
            <h4>KAPİTALİZM VE İSLAM’DA SOSYAL ADALET</h4>
            Hiç şüphesiz ki üzerinde en çok uzlaşılabilecek önermelerden biri günümüz dünyasında
            sosyal adaletin sağlanmadığıdır. Bu gerçek gelişmiş olsun gelişmekte olsun her ülke için belki
            derece farkıyla geçerlidir. Kapitalist sistem kendi devamlılığını sağlamak için yine kendi
            içinden sosyal adaleti kısmen de olsa sağlamaya ve gelir dağılımını düzeltmeye yönelik
            çözümler geliştirmeye çalışmıştır. Ne var ki kapitalizm, tanımı gereği bu sorunları çözmekten
            uzaktır. Zira dengesiz büyüme ve sık sık ortaya çıkan krizler yüzünden gelir dağılımındaki
            adaletsizliğin yaratıcısı bizatihi kendisidir. Faiz, refahı dengesiz dağıtan büyüme modelinin de
            sık sık karşılaşılan ülke içi veya küresel krizlerin de ana nedenidir. Böyle olunca da faizden
            vaz geçemeyecek olan bir sistem, geliri yeniden dağıtıcı müdahaleler ve yoksulluğu azaltıcı
            önlemlerle esasında sorunu çözmeye değil sadece yönetilebilir tutmaya çalışır.
        </p>
        <p>
            İslam İktisadının sosyal adaleti önemseyen bir sistem önerdiğini söylemek aslında zaittir. Zira
            bir din olarak İslam’ın kaynaklık edeceği bir ekonomik sistemin, tanımı gereği sosyal adalete
            önem vermek durumunda olduğu açıktır. Bir diğer ifadeyle, nasıl kapitalizm tanımı gereği
            sosyal adaleti sağlamaktan çok adaletsizlik ve yoksulluğu yönetilebilir kılmaya odaklanırsa
            İslam İktisadı da sosyal adaleti sağlamayı öncelikli hedef olarak belirler. İşte bu amaca
            yönelik olarak önerdiği üç mekanizma faiz yasağı, adil/insani ücret ve zekâttır. Bunlardan ilk
            ikisi gelirin adil dağılımını sağlamaya yöneliktir. Üçüncü araç olan zekât ise yine de bazı
            nedenlerden dolayı ortaya çıkabilecek dağılımda adaletsizliği gidermek amacıyla
            emredilmiştir. Bir diğer ifadeyle, ilk ikisi gelirin adil dağılımını gelir oluşurken sağlamaya
            yönelik mekanizmalar iken üçüncüsü arızi veya öngörülemeyen bir durumu çözmek ise
            geliştirilmiş “geliri yeniden dağıtıcı” bir mekanizmadır.
        </p>
        <p>
            <h4>SOSYAL ADALETİN SAĞLANMASINDA FAİZ YASAĞININ ROLÜ</h4>
            İlmi Etüdler Derneği (İLEM), İlim, Kültür ve Eğitim Derneği (İLKE) ve İktisadi Girişim ve İş
            Ahlakı Derneği (İGİAD) tarafından düzenlenen İslam İktisadı Atölyelerinin dördüncüsü 2-3
            Mayıs 2016’da düzenlendi. Bu yılki atölye konusu İslam İktisadı Perspektifinden Sosyal
            Adalet idi. Atölyede zekâttan mikro tekafüle (mikro İslami sigorta), vakıf uygulamalarından
            sosyal yardımlarda faydalanılabilecek İslami prensiplere kadar birçok konuda tebliğ sunuldu.
            Ancak bildirilerden sadece ikisinin faiz yasağı ile ilgili olması sosyal adaletin sağlanmasında
            faiz yasağının öneminin akademik camiada yeterince karşılık bulmadığını göstermektedir.
            Faiz yasağının ulaşmayı hedeflediği iki şey dengeli ve sürdürülebilir büyüme ve adil gelir
            dağılımıdır. Sosyal adaletin sağlanmasında refah artışından aslan payının çok küçük bir
            azınlığa peşkeş çekilmemesi ve sistemik krizlerle dezavantajlıların ikinci kez mağduriyete
            uğratılmaması önceliklidir. Kapitalizm, faiz yüzünden bu konularda başarısızdır ve İslam
            İktisadı da faiz yasağı sayesinde ümit vaat etmektedir.
        </p>
        <p>
            <h4>KAPİTALİZM: KAŞIKLA VERDİĞİNİ KEPÇEYLE ALAN EKONOMİK DÜZEN</h4>
            Rakamlar önemlidir. Ekonomi rakamlar doğru okunduğunda adeta matematiksel kesinlikte
            gerçekleri gösteren bir bilimdir. Rakamlara bakıldığında sanayi devrimi öncesi yaklaşık 18
            asırlık dönemde kişi başına gelir ancak 400 dolardan 600 dolara (1990 yılı Uluslararası
            Geary-Khamis doları cinsinden) yükselmişken sonraki dönemde özellikle 1950’den sonra
            hızla artmış ve 6 bin doları aşmıştır. Buradan bakıldığında kapitalizmin başarısı görülür. Oysa
            bu refah artışından fakirin payına düşen fazla bir şey yoktur. Örneğin son küresel ekonomik
            krizde bile en zengin yüzde 1’in payı gelişmiş ülkelerin tamamında 1980’e göre artmıştır.
            Örneğin, ABD’de gelirin 1980’lerde yüzde 8’ini alan en zengin yüzde 1, 2008-2012
            döneminde payını yüzde 19’lara çıkarmıştır.
            Kapitalist sistemde, dezavantajlı kesimler gelirin arttığı dönemlerde bu artıştan minimal
            düzeyde faydalanırlar. Kriz dönemlerinin darbesini ise hemen ve en ağır şekilde
            hissetmektedirler. Kapitalist sistemlerde ekonominin hızlı ama adaletsiz büyüdüğü; büyüme
            dönemlerinin ise krizler yüzünden sıkça kesildiği görülmektedir. Kapitalist ekonomiler refah
            dönemlerinde geniş kesimlere refah artışından kaşıkla pay verirken kriz dönemlerinde
            verdiklerini kepçeyle geri almaktadır.
        </p>
        <p>
            İslam ise faiz yasağı ile iki şeyi başarmak istemektedir: İlki çok yüksek olmasa bile dengeli ve
            sürdürülebilir büyüme; ikincisi ise krizlerin sistemik olmadığı ve kriz olduğunda ise yükünün
            adil dağılmasıdır. Ekonomik birimlerin riski paylaştığı ve kar-zarar ortaklığına dayanan
            sistem, finans sektörünün reel sektörden kopuşuna zemin hazırlayan bir aşırı finansallaşmaya
            izin vermemektedir. Böylece krizleri sistemik olmaktan çıkarmaktadır. Sosyal adaletin
            sağlanması işte bu dengeli ve sürdürülebilir büyüme mekanizması ile mümkündür. Zekâtı ise
            İslam ekstra bir düzeltici mekanizma olarak önermektedir.
        </p>
    </div>
    <hr class="hr-xs" />

</div>
