@{
    ViewBag.Title = "Banka ile İmtihanımız ve Sadaka Evi";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Banka ile İmtihanımız ve Sadaka Evi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus45.jpg" alt="">
    </div>




    <!-- End Blog Grid -->
    <div class="row"></div>


    <table>
        <tr>
            <th>
                <a class="btn-u btn-u-xs rounded btn-u-sea" href="~/temppdf/gorus45.pdf" target="_blank">PDF Olarak İndir</a>
                &nbsp;
            </th>
            <th>
                <div class="fb-share-button" data-href="window.location.href" data-layout="button"></div>
                &nbsp;
            </th>
            <th>

                <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-hashtags="pesar">Tweet</a>
            </th>

        </tr>
    </table>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Özel Finans Kurumu adıyla Türkiye’ye geldiğinden bu yana “İslami” de olsa bankalar bir
            türlü dindarların içine sinmedi. Bir ihtiyaçtı evet ama ismine alışamadık, finans yöntemlerini
            anlamadık, anladıklarımızı da beğenmedik. Bu bankaların İslamiliğini sorgulamak
            bazılarımızı konvansiyonel bankalara bile yöneltti. Bu durumda olanlar önce banka fikrine
            alıştı, sonra ayırım yapmadan banka müşterisi oldular. Tıpkı Cola Turka ve Zemzem Kola ile
            kolanın tadına alışıp sonra diğer kolaların tüketicisi haline gelenler gibi. Bankaların adı
            “katılım” oldu ama bir türlü payı yüzde 5 bandını aşamadı. Dindar Müslümanların
            ekonomideki ağırlığı yüzde 5’in üzerinde ise Nasrettin Hoca gibi “bu kedi ise ciğer nerede;
            ciğer ise kedi nerede?” sorusunu sormamızı gerektirir bir tablo var karşımızda. Dindarların bir
            bölümünün tüm bankalara mesafeli olduğunu varsaysak bile bu pay yine de yanlış giden bir
            şeylerin olduğunu göstermektedir.
        </p>
       
        <p>
            <h4>Mesele Ne?</h4>
            Bankacılık fon toplama ve fon kullandırma olmak üzere iki ayak üzerinde çalışır. Katılım
            bankalarının kullandıracakları fonlar da diğer bankalar gibi özkaynak ve yabancı fonlardan
            (hanehalkları veya tüzel kişilerden toplanan fonlar) oluşur. Bankacılıkta maharet toplanan
            fonların kullandırılmasındadır. Bu yüzden diğer şirketlere göre özkaynakların toplam fonlar
            içindeki oranı diğer ortaklıklardan daha düşüktür. Katılım bankalarında açılan ve niteliği
            itibariyle bir taraftan bankaya verilen bir borç diğer taraftan da emanet sayılabilecek özel cari
            hesaplar bu bankaların başta şube ağlarının yetersizliği ve bankacılık sistemindeki marjinal
            görüntülerinden dolayı çok iddialı oldukları alan değildir. Kar/zarara katılma akdi karşılığı
            toplanan katılma hesapları kısa vadeli olmaları nedeniyle sağlıklı bir görüntü vermemekte,
            katılım bankalarının murabaha dışındaki fon kullandırma yöntemlerine yönelmelerine engel
            olmaktadır. Özel fon havuzları katılım bankalarının önceden tespit edilen
            projelerin/yatırımların finansmanında kullanılmak üzere topladıkları fonlardır.
        </p>
        <p>
            Fon kullandırma yöntemi olarak murabahanın yüzde doksanlarda kullanılması sıkça eleştiri
            konusu yapılmaktadır. Katılım bankacılığı ideallerini karşılamaktan uzak olması bir yana
            katılım bankalarının konvansiyonel bankalarla farkını flulaştıran bu durum fon toplama
            ayağındaki yapısal sorunların doğal sonucu olarak da görülebilir. Akla gelen diğer bir ihtimal
            ise katılım bankalarının mevcut durumdan “memnun” olmalarıdır. Bankacılık sektörü içindeki
            marjinal niteliğinden sermaye sahiplerinin memnun olma ihtimali ise özkaynak, özel fon
            havuzu, özel cari hesap vs. yükselse bile bu fonları kullandırmada bir tür sınıra ulaşıldığı
            düşüncesi ile ilgili olabilir.
        </p>
        <p>
            Katılım bankalarının Müslümanların içine siner hale gelmelerinin yolu öncelikle bu
            bankaların murabaha (taksitle satış) enstrümanından mudaraba ve muşarakaya geçmelerini
            gerektirir. Bu geçiş ise her şeyden önce toplanan fonların bileşiminin ve vade yapısının
            düzelmesine bağlıdır. Cari hesapların artırılması, katılma hesaplarının ortalama vadesinin uzaması, banka sahiplerinin ilave sermaye koymaları ya da özel fon havuzlarının yaygınlaştırılması ve işlevselleştirilmesi gerekmektedir.
        </p>
        <p>
            Öte yandan konvansiyonel bankalardan farklı olarak katılım bankalarından “sosyal bankacılık” beklenmektedir. Aslında idealinde olduğu gibi riskin paylaşıldığı ve yatırımların desteklendiği bir bankacılığa geçebilmeleri ve bankacılık sektöründeki paylarını artırmaları halinde reel sektörü sağlıklı bir şekilde fonlayacaklarından sosyal işlevi de istihdam yaratmak suretiyle göreceklerdir. Ancak bu oluncaya kadar veya bunun başarılamaması halinde bile bu bankaların sosyal bankacılık adına yapabilecekleri vardır.
        </p>
        <p>
            <h4>Sadaka Evi</h4>
            Uluslararası İslam Ekonomisi ve Finansı Araştırma Merkezi (IRCIEF) Direktörü Dr. Latifa Bibi Binti Musafar Hameed merkezlerinin üzerinde çalıştığı yeni bir bankacılık enstrümanı konusunda bilgi verdi. Sakarya Üniversitesine kısa süreli değişim programı çerçevesinde gelen Dr. Latifa Bibi, Malezya İslam Bankasının eski başkanlarından Dr. Abdul Halim İsmail’in önerdiği “sadaka evi (sadaqa house)” projesi üzerinde çalıştıklarını söyledi. Katılım bankalarının fakir fukaraya maddi destek sunacak ve beşeri sermaye artırıcı hizmetlere ulaşmalarını sağlayacak nitelikte bir enstrüman olarak planlanan Sadaka Evi, İslami bankaların sadaka olarak toplanan fonları verimli bir şekilde işletmelerine dayanmaktadır. Bibi’nin verdiği bilgiye göre, Malezya’da vakıf müesseseleri yaygın olarak kullanılmakta ve genelde bölgesel yönetimlerin yetersiz denetim ve gözetiminde çalışmaktadırlar. Topladıkları fonları (zekat, sadaka, hibe vs.) kullandırmada başarılı olmayan, dahası kötü bir üne sahip olan vakıflar yerine sadaka (zekat değil) mahiyetindeki bağışların katılım bankaları tarafından değerlendirilmesi fikri öncelikle bu bankaların sosyal refahı doğrudan tabana yayma işlevi görmelerine zemin hazırlayacaktır.
        </p>
        <p>
            Sadakayı sadece nakit olarak kabul edecek katılım bankaları, anaparayı değil elde edilen karı fakir ve ihtiyaç sahiplerinin ihtiyaçlarını gidermede ve/veya sağlık ve eğitim hizmetleri gibi yoksulluğu azaltıcı hizmetleri finanse etmede kullanacaklardır. Sadaka Evi projesinin heyecan verici yanı katılım bankalarına, uzmanlıklarını sadakayı sadaka-ı cariyeye dönüştürmek için kullanma şansı vermesidir. Kabul edelim ki kentleşme ve modern hayat varlıklının sadakayı doğrudan ihtiyaç sahibine ulaştırmasına gittikçe daha az imkân vermektedir. Bankaların kardan pay almayacakları (Bibi’ye göre yüzde 5 yönetim gideri için kesinti yapılabilecektir) bu sistem katılım bankalarından beklenen reel sektörü destekleme ve yoksulluğu azaltma işlevlerine hizmet edebilecek bir enstrüman olabilecektir. Sadaka havuzunda toplanan fonların sukuk gibi enstrümanlarda kullanılması nedeniyle sistem, İslami sermaye piyasasını destekleme işlevi de görecektir.
        </p>
        <p>
            Sadaka Evi projesi gibi yeni enstrüman arayışları önemlidir. Beşeri sermaye oluşumuna katkı sunacak hizmetlerin desteklenmesi ve yoksulluğun azaltılmasına yardımcı olunması, katılım bankalarının imajının düzelmesine ve beklendiği yönde gelişmelerine yardımcı olmakla kalmayacak zenginlere, sadakalarını değerlendirme imkânı da sunulmuş olacaktır.
        </p>
        <p>
            <h4>Görmemişin Bir Bankası Olmuş...</h4>
            Yine de yeni enstrüman arayışlarında kantarın topuzu kaçırılmamalıdır. Evet, katılım bankalarının bu tür bankacılığın ideallerini ve farklılıklarını yansıtan enstrümanlar geliştirmesi gerekmektedir. Elbette katılım bankaları konvansiyonel ticari bankalardan farklı olmalıdır. İslam’ın faiz yasağı ve kredi kullanmanın/kullandırmanın risk paylaşımına bağlanması dolayısıyla bu beklenti bir dereceye kadar normaldir de. Ancak katılım bankalarının neticede bir tür ticari banka olduğunun unutulması; onlardan bazen vakıf, bazen yatırım bankası, bazen de aşevi çıkarılması gerçekçi değildir. Bu yüzden Sadaka Evi enstrümanında olduğu gibi geliştirilen enstrümanların derde deva olmak yerine derdi hafifleteceği unutulmamalıdır. Müslüman ülkelerin genel görünümü sadece bankaların “ıslahı” ile alınacak yolun uzun olmadığını göstermektedir.
        </p>
    </div>
    <hr class="hr-xs" />

</div>
