@{
    ViewBag.Title = "Sosyal Adaletin Sağlanmasında İslami Yol ve Zekatın Abartılan Rolü";
}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e4c31ef8f00674"></script>

<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Sosyal Adaletin Sağlanmasında İslami Yol ve Zekatın Abartılan Rolü</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_native_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus44.jpg" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Başlıktaki ifadeden zekâtın yoksulluğu azaltıcı ve gelir dağılımını düzeltici rolünün önemsenmediği sonucu çıkarılmamalıdır. Vurgu adil gelir dağılımında asıl mekanizmanın faiz yasağı olmasına rağmen tartışmalarda yeterli yeri bulamamasınadır. Tartışmalarda zekâta daha çok yer verilmesinin anlaşılabilir bir nedeni vardır. O da faizin uygulamada yasal olması ve hakim iktisadi paradigma tarafından vaz geçilmesi mümkün olmayan bir “pay” olarak görülmesidir. Ancak İslam Ekonomisine ilişkin bilimsel tartışmalarda faiz yasağının sosyal adaleti sağlamadaki önemine vurgu yapılması gerekir.
            Zekât geliri dağıtmada değil geliri yeniden dağıtmada rol alan bir mekanizmadır. Bir diğer ifadeyle zekât, gelirden yeterince pay alamamış kesimlerin rahatlatılmasında çok önemli bir rol oynar. Fakat İslam gelir daha oluşurken/ üretim gerçekleşirken adil paylaşımı kurgulayan mekanizmalar önermektedir. Bu mekanizmaların merkezinde ise <a href="http://pesar.org/Temp/gorus41">adil/insani</a> ücret ve faiz yasağı gelmektedir.
            Bilindiği gibi birinci gelir dağılımı, devletin ekonomiye vergi ve kamu harcamaları ile müdahale etmediği sadece asgari ücret gibi düzenlemelerde bulunduğu durumda, piyasa işleyişinin ortaya çıkardığı dağılımı ifade eder. Refah Devleti anlayışının gelişmesiyle birlikte kapitalizm geliri yeniden dağıtıcı ve dezavantajlı grupların hayatını kolaylaştırıcı devlet müdahalelerine daha çok kapı aralamıştır. İşte devletin vergi ve kamu harcamaları ile geliri yeniden dağıtması sonucu ortaya çıkan dağılım ikincil gelir dağılımıdır.
            Zekât ise İslam’ın dezavantajlı grupların hayatını rahatlatmak için önerdiği gelirin yeniden dağıtılmasında kullanılan bir araçtır. Vergilemede ve sosyal transferlerde devletin karşı karşıya olduğu asimetrik bilgi sorununun Müslüman için zorunlu bir ödev olan zekâtta ortaya çıkmaması veya oldukça hafif olması şüphesiz ki onun geliri yeniden dağıtıcı mekanizmalar arasında açık bir üstünlüğüdür. Fakat İslam gelir dağılımında asıl rolü
        </p><br>
    </div>
    <hr class="hr-xs" />
    
</div>
