@{
    ViewBag.Title = "Başkanlık Sistemi";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Başkanlık Sistemi</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus42.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            PESA Cuma Konuşmaları’nın 18 Aralık 2015’te konuğu Doç.Dr. Zeynel Abidin KILINÇ idi. KILINÇ, parlamenter sistem ile başkanlık sisteminin geçerli olduğu ülke uygulamaları üzerine yaptığı değerlendirmede Başkanlık Sistemine geçilmesi halinde Türkiye’de birçok sorunun çözüleceğinin sanılmasının yanıltıcı olduğunu dile getirdi.Her iki rejimin de  Anglo Sakson ülkelerde başarılı bir şekilde uygulandığını tartışan KILINÇ, Türkiye’de yönetim rejimi değişikliği ile beraber başka reformların da hayata geçirilmesi halinde olumlu sonuçlar alınabileceğini söyledi.
        </p><br>
    </div>
    <hr class="hr-xs" />
    
</div>