@{
    ViewBag.Title = "Sürdürülebilir Büyüme İçin 'Doğru' Tasarruf veya Borsadan Yükselen Ses";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.5&appId=312266332132599";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Sürdürülebilir Büyüme İçin "Doğru" Tasarruf veya Borsadan Yükselen Ses</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/gorus/gorus46.jpg" alt="">
    </div>




    <!-- End Blog Grid -->
    <div class="row"></div>


    <table>
        <tr>
            <th>
                <a class="btn-u btn-u-xs rounded btn-u-sea" href="~/temppdf/gorus46.pdf" target="_blank">PDF Olarak İndir</a>
                &nbsp;
            </th>
            <th>
                <div class="fb-share-button" data-href="window.location.href" data-layout="button"></div>
                &nbsp;
            </th>
            <th>

                <a href="https://twitter.com/share" class="twitter-share-button" data-via="pesaarastirma" data-hashtags="pesar">Tweet</a>
            </th>

        </tr>
    </table>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Türkiye’de sürdürülebilir ve yeterli büyüme patikasına girebilmesi için gerekli olan

            unsurlardan biri tasarrufların artırılması ve yatırımlara kanalize edilmesidir. 2012 yılında

            sağlıklı büyümeyi tercihi eden Türkiye “yumuşak iniş” yaptı. Tasarrufların artırılıp

            yatırımlara kanalize edilmesi ve teknoloji yoğun üretime geçişi sağlayacak ekonomik

            faaliyetlerin özendirilmesi için çok sayıda tedbiri hayata geçirdi. Ne var ki geçen dört yılda

            yüzde dört sınırını bir türlü aşamayan bir büyümenin Türkiye’nin ihtiyacını karşılamakta

            yetersiz olduğu bir gerçektir. Küresel ortamın ve jeopolitik gelişmelerin bu büyüme oranlarına

            razı olmamızı gerektirecek unsurlar barındırmasına rağmen Türkiye’nin önce yüzde beşlerin

            ardından yüzde altıların üzerinde bir büyümeye duyduğu ihtiyaç açıktır. İşte bu ihtiyacın

            karşılanmasında “doğru” tasarruf önemlidir.
        </p>
       
        <p>
            <h4>“Doğru” Tasarruf</h4>
            Tasarrufları kamu ve özel kesim tasarrufları olarak ayırırız. 2001 Krizi sonrası kamu kesimi

            tasarruf ederken özel kesimin tasarrufunda azalma görülmektedir. Firmaların karlarını

            dağıtmayıp yatırımlara yönlendirmesi anlamına gelen kurumsal tasarruflarda hafifçe bir

            kıpırdanma olsa da hanehalkı tasarruflarında bir türlü gerekli artış sağlanamamaktadır.

            Tasarrufu özendirici ve tüketimi azaltıcı onca tedbire rağmen kısa dönemde sonuç da zaten

            beklenmemektedir.
        </p>
        <p>
            Tasarrufların artırılması yanında gayrimenkul, döviz ve altın gibi birey için tasarruf olsa da

            ekonomi için bir tür sızıntı olan tasarrufların ekonomiye kazandırılması için atılabilecek

            adımlar vardır. Toplumda tasarrufun ekonomi için verimsiz olan türüne dönük bir eğilim

            vardır. Vatandaşlardan bir bölümü geleneksel olarak kazandırdığı test edilen bu türden

            yatırıma alışkanlıklarından dolayı yönelirken diğer bir bölümü bankalara (konvansiyonel veya

            katılım fark etmemekte) mesafeli durmaktadırlar.
        </p>
        <p>
            Verimsiz tasarrufların ekonomiye kazandırılması için faize karşı olan vatandaşların şeri

            prensiplere uyum konusunda katılım bankalarına duydukları şüphelerin giderilmesi

            gerekmektedir. Ancak banka odaklı çözümler yeterli olmayacaktır. Bu vatandaşların sermaye

            piyasası enstrümanlarına da ulaşması sağlanmalıdır. İslami prensiplere uyumlu, muadilleri ile

            rekabetçi bir getiri sağlama potansiyeli olan ve likiditeyi temin için ikincil piyasada alınıp

            satılabilen enstrümanların geliştirilmesi halinde sadece faize duyarlı kesimler değil tüm

            vatandaşlar alternatif yatırım araçlarına kavuşacaklardır. Neticede vatandaşların tüketimlerini

            ertelemeleri için gelecekte daha fazla tüketmelerine veya miras olarak bırakmalarına imkan

            tanıyacak getiriyi elde etmeleri gerekir. İslami prensiplere uyumlu ürünler bu özellikleri

            haizse tüm yerli ve yabancı yatırımcılar bu fırsatları değerlendirecektir.
        </p>
        
        <p>
            <h4>Borsa’dan Yükselen Ruh Merkez’e de Yansır mı?</h4>
            Türkiye’nin kurumlarının, ülkenin enerjisini tüketen ve dar kalıplara hapseden tartışmaları

            geride bırakacak istidadı gösterecek yöneticilere ihtiyacı vardır. Ak Parti’yi uzun

            sayılabilecek süreden beri iktidarda tutan sağduyu muhtemelen bu umudu beslemektedir.

            Borsa İstanbul’dan bu yönde mesajlar gelmektedir.
        </p>
        <p>
            Geçtiğimiz Cumartesi günü Cihannüma Platformunda konuşan Borsa İstanbul’un yeni

            patronu Himmet Karadağ, esas itibariyle İslamiliği konusunda sorun bulunmayan Borsa’nın

            yine de şüpheleri izale edemediğini belirterek son yüzyılın sorununa dikkat çekmiş: Kendi

            değerlerine mesafeli olmak. İtalya örneği üzerinden batı ülkelerinin İslami sermayeyi çekmek

            için şeri kurullar kurmalarına ve şeriate uygun ürünler geliştirmelerine işaret eden Borsa

            İstanbul YK Başkanı, Türkiye’nin artık anlamsız tartışmalarla vakit geçirmeyeceği yönünde

            güçlü bir işaret vermiş.
        </p>
        <p>
            Borsa İstanbul, BDDK, TCMB ve SPK gibi kurumlar, tasarruf etmesi istenen vatandaşlara

            karşı, gönül huzuru içinde alabilecekleri ürünler geliştirme ve mevcut ürünleri ıslah etme

            görevlerini yerine getirmelidirler. BDDK Uygulama V Dairesi ile bu yolda adımlar atarken

            Borsa İstanbul ihtiyacı yüksek sesle dile getirmiştir. Diğer kurumların da hızla adımlar

            atmasının gerekliliği açıktır. Malezya örneği bize merkez bankasının aktif rolünün İslami

            finansın gelişmesindeki önemini göstermektedir. Örneğin, Merkez Bankası’nın yeni yönetimi

            katılım bankalarının zorunlu karşılıkları için faizsiz getiri formülü üzerinde çalışmalıdır.

            Katılım bankalarının şeri prensiplere uyumunu garanti edecek şeffaf bir danışma sisteminin

            hayata geçirilmesi için ilgili kurumlar başlattıkları çalışmaları süratle tamamlamalıdırlar. Zira

            Türkiye mevcut potansiyeli ile İslami finanstaki kırk yıllık açığını kapatacak ve İstanbul

            İslami Finansın da bir merkezi haline gelecekse kaybedilecek bir saniye bile yoktur.
        </p>
       
    </div>
    <hr class="hr-xs" />

</div>
