@{
    ViewBag.Title = "Sakarya İli Yerel Anket Sonuçları";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Sakarya İli Yerel Anket Sonuçları</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/rapor/rapor7.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Bu ara rma PESA (Politik Ekonomik ve Sosyal Ara rmalar Merkezi)
            taraf ndan Sakarya’n n 11 lçesinde PESA ad na seçmenlerle yüz yüze görü me
            tekni iyle yap lan anket sonuçlar na dayanmaktad r.
            Her ilçe özelinde seçmenlerle yüz yüze yap lan anketlerin bulgular ek dosyada
            sunulmaktadır.
                </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa.yerel_.secimler._ankteti_sonuclari_0.pdf" target="_blank">PDF Olarak İndir</a>
        

        <hr class="hr-md" />
    </div>
</div>