@{
    ViewBag.Title = "Alevilerde Devlet ve Vergi Algısı";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Alevilerde Devlet ve Vergi Algısı</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/rapor/rapor5.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Bu çalışmanınn amacı Alevilerin vergiye bakış açısını ortaya koymaktır. Tüm detaylara PDF dokümanından erişebilirsiniz.
        </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/alevilik_rapor.pdf" target="_blank">PDF Olarak İndir</a>
       

        <hr class="hr-md" />
    </div>
</div>