@{
    ViewBag.Title = "Sakarya Halkının Çözüm Sürecine Bakışı: 'Sakarya Çözüm İstiyor'";
}
<div class="row">
    <!-- Blog Grid -->
    <div class="blog-grid margin-bottom-30">
        <h2 class="blog-grid-title-lg">Sakarya Halkının Çözüm Sürecine Bakışı: 'Sakarya Çözüm İstiyor'</h2>
        <div class="overflow-h margin-bottom-10">
            <div class="pull-right">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <img class="col-md-7 img-responsive" src="~/Content/TempImages/rapor/rapor9.png" alt="">
    </div>
    <!-- End Blog Grid -->
    <div class="row"></div>
    <hr class="hr-xs" />
    <div class="clear-right">
        <p>
            Gelinen noktada çözüm süreci kapsamında; OHAL’in kaldırılması, Kürtçe isim
            koyma serbestisi, Kürtçenin kamusal alanda kullanılması, Kürtçe yayın ve basım,
            Kürt Dili ve Edebiyatı bölümleri, Kürdoloji enstitüleri, seçmeli Kürtçe dersleri,
            Köye Dönüş Yasası, bölgenin sosyoekonomik kalkınmasına dönük kamu
            yatırımları, özel yatırımı teşvik yasaları, Kürtçe propaganda yasağının
            kaldırılması, parti kapatmaları zorlaştıran düzenlemeler, anadilde savunma hakkı
            gibi önemli düzenlemeler yapılmıştır
                </p><br>
    </div>
    <hr class="hr-xs" />
    <div class="container">
        <a class="btn-u btn-u-xs rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/cozum.sureci.rapor_.04.05.15.pdf" target="_blank">PDF Olarak İndir</a>
        

        <hr class="hr-md" />
    </div>
</div>