
@{
    ViewBag.Title = "İzinsiz Erişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erişmeye çalıştığınız sayfalara izniniz bulunmamaktadır!</h2>
Lütfen giriş yapmayı deneyin.
<script>
    $(document).ready(function () {
        App.init();
    });
</script>