
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using reCAPTCHA.MVC
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="reg-page">
                    <div class="reg-header">
                        <h2>Login to admin</h2>
                    </div>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="Username" class="form-control" name="Username">
                    </div>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Password" class="form-control" name="Password">
                    </div>
                    <div class="input-group">
                        @Html.Recaptcha()
                        @Html.ValidationMessage("ReCaptcha")
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <p class="alert alert-warning">@TempData["ErrorMessage"]</p>
                        }
                        <button class="btn-u" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div><!--/row-->
    </div>
}