@{
    ViewBag.Title = "Staff";
}
<div class="row">
    <div class="col-md-12">
        <div class="headline"><h2>Kadromuz</h2></div>
        <!-- Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/sakirgormus.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Şakir GÖRMÜŞ</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Başkan</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/fatihsavasan.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Fatih SAVAŞAN</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/mehmetsarac.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Mehmet SARAÇ</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Denetim Kurulu Üyesi &amp; Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/fatihyardimcioglu.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Fatih YARDIMCIOĞLU</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Mali Sekreter &amp; Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/temelgurdal.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Temel GÜRDAL</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/kabasakal.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>KABASAKAL</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/cahitsanver.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Cahit ŞANVER</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/mehmeteminaltundemir.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Mehmet Emin ALTUNDEMİR</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/ismailgulec.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>İsmail GÜLEÇ</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
        <!-- End Üye Block-->
        <div class="row clients-page">
            <div class="col-md-2">
                <img src="~/assets/img/Staff/ozkanpinar.jpg" class="img-responsive hover-effect" alt="" />
            </div>
            <div class="col-md-10">
                <h3>Özkan PINAR</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-briefcase color-green"></i> Araştırmacı</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
            </div>
        </div>
        <!-- End Üye Block-->
        <hr />
    </div>
</div>
<script>
 jQuery(document).ready(function () {
        App.init();
 });
</script>